<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  {%- include 'swift-optimize-master' -%}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://ss.hozodesign.com/ckspkrfz.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KBM8DRK');</script>
  <!-- End Google Tag Manager -->
  
  <script>
    window.clickmagick_cmc = {
        uid: '162671',
        hid: '1922337596',
        cmc_project: 'HOZO Design',
    }
</script>
<script async src='//cdn.clkmc.com/cmc.js'></script>
  
  <!-- Global site tag (gtag.js) - Google Ads: 350279651 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-350279651"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-350279651');
</script>


  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  

  {%- assign header_font = settings.type_header_font -%}
  {%- assign base_font = settings.type_base_font -%}
  {%- assign base_font_bolder = base_font | font_modify: 'weight', 'bolder' -%}
  {%- assign base_font_bold = base_font | font_modify: 'weight', 'bold' -%}
  {%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
  {%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}

  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ header_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font_bold | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'lazysizes.js' | asset_url }}" as="script">
  

  {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  
  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}

  <style>*,::after,::before{box-sizing:border-box}body{margin:0}body,html{background-color:var(--color-body)}body,button{font-size:calc(var(--font-size-base) * 1px);font-family:var(--font-stack-body);font-style:var(--font-style-body);font-weight:var(--font-weight-body);color:var(--color-text);line-height:1.5}body,button{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}.border-bottom{border-bottom:1px solid var(--color-border)}.btn--link{background-color:transparent;border:0;margin:0;color:var(--color-text);text-align:left}.text-right{text-align:right}.icon{display:inline-block;width:20px;height:20px;vertical-align:middle;fill:currentColor}.icon__fallback-text,.visually-hidden{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}svg.icon:not(.icon--full-color) circle,svg.icon:not(.icon--full-color) ellipse,svg.icon:not(.icon--full-color) g,svg.icon:not(.icon--full-color) line,svg.icon:not(.icon--full-color) path,svg.icon:not(.icon--full-color) polygon,svg.icon:not(.icon--full-color) polyline,svg.icon:not(.icon--full-color) rect,symbol.icon:not(.icon--full-color) circle,symbol.icon:not(.icon--full-color) ellipse,symbol.icon:not(.icon--full-color) g,symbol.icon:not(.icon--full-color) line,symbol.icon:not(.icon--full-color) path,symbol.icon:not(.icon--full-color) polygon,symbol.icon:not(.icon--full-color) polyline,symbol.icon:not(.icon--full-color) rect{fill:inherit;stroke:inherit}li{list-style:none}.list--inline{padding:0;margin:0}.list--inline>li{display:inline-block;margin-bottom:0;vertical-align:middle}a{color:var(--color-text);text-decoration:none}.h1,.h2,h1,h2{margin:0 0 17.5px;font-family:var(--font-stack-header);font-style:var(--font-style-header);font-weight:var(--font-weight-header);line-height:1.2;overflow-wrap:break-word;word-wrap:break-word}.h1 a,.h2 a,h1 a,h2 a{color:inherit;text-decoration:none;font-weight:inherit}.h1,h1{font-size:calc(((var(--font-h1-desktop))/ (var(--font-size-base))) * 1em);text-transform:none;letter-spacing:0}@media only screen and (max-width:749px){.h1,h1{font-size:calc(((var(--font-h1-mobile))/ (var(--font-size-base))) * 1em)}}.h2,h2{font-size:calc(((var(--font-h2-desktop))/ (var(--font-size-base))) * 1em);text-transform:uppercase;letter-spacing:.1em}@media only screen and (max-width:749px){.h2,h2{font-size:calc(((var(--font-h2-mobile))/ (var(--font-size-base))) * 1em)}}p{color:var(--color-body-text);margin:0 0 19.44444px}@media only screen and (max-width:749px){p{font-size:calc(((var(--font-size-base) - 1)/ (var(--font-size-base))) * 1em)}}p:last-child{margin-bottom:0}@media only screen and (max-width:749px){.small--hide{display:none!important}}.grid{list-style:none;margin:0;padding:0;margin-left:-30px}.grid::after{content:'';display:table;clear:both}@media only screen and (max-width:749px){.grid{margin-left:-22px}}.grid::after{content:'';display:table;clear:both}.grid--no-gutters{margin-left:0}.grid--no-gutters .grid__item{padding-left:0}.grid--table{display:table;table-layout:fixed;width:100%}.grid--table>.grid__item{float:none;display:table-cell;vertical-align:middle}.grid__item{float:left;padding-left:30px;width:100%}@media only screen and (max-width:749px){.grid__item{padding-left:22px}}.grid__item[class*="--push"]{position:relative}@media only screen and (min-width:750px){.medium-up--one-quarter{width:25%}.medium-up--push-one-third{width:33.33%}.medium-up--one-half{width:50%}.medium-up--push-one-third{left:33.33%;position:relative}}.site-header{position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header{border-bottom:1px solid var(--color-border)}}@media only screen and (min-width:750px){.site-header{padding:0 55px}.site-header.logo--center{padding-top:30px}}.site-header__logo{margin:15px 0}.logo-align--center .site-header__logo{text-align:center;margin:0 auto}@media only screen and (max-width:749px){.logo-align--center .site-header__logo{text-align:left;margin:15px 0}}@media only screen and (max-width:749px){.site-header__logo{padding-left:22px;text-align:left}.site-header__logo img{margin:0}}.site-header__logo-link{display:inline-block;word-break:break-word}@media only screen and (min-width:750px){.logo-align--center .site-header__logo-link{margin:0 auto}}.site-header__logo-image{display:block}@media only screen and (min-width:750px){.site-header__logo-image{margin:0 auto}}.site-header__logo-image img{width:100%}.site-header__logo-image--centered img{margin:0 auto}.site-header__logo img{display:block}.site-header__icons{position:relative;white-space:nowrap}@media only screen and (max-width:749px){.site-header__icons{width:auto;padding-right:13px}.site-header__icons .btn--link,.site-header__icons .site-header__cart{font-size:calc(((var(--font-size-base))/ (var(--font-size-base))) * 1em)}}.site-header__icons-wrapper{position:relative;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-webkit-justify-content:flex-end;-ms-justify-content:flex-end;justify-content:flex-end}.site-header__account,.site-header__cart,.site-header__search{position:relative}.site-header__search.site-header__icon{display:none}@media only screen and (min-width:1400px){.site-header__search.site-header__icon{display:block}}.site-header__search-toggle{display:block}@media only screen and (min-width:750px){.site-header__account,.site-header__cart{padding:10px 11px}}.site-header__cart-title,.site-header__search-title{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0;display:block;vertical-align:middle}.site-header__cart-title{margin-right:3px}.site-header__cart-count{display:flex;align-items:center;justify-content:center;position:absolute;right:.4rem;top:.2rem;font-weight:700;background-color:var(--color-btn-primary);color:var(--color-btn-primary-text);border-radius:50%;min-width:1em;height:1em}.site-header__cart-count span{font-family:HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:calc(11em / 16);line-height:1}@media only screen and (max-width:749px){.site-header__cart-count{top:calc(7em / 16);right:0;border-radius:50%;min-width:calc(19em / 16);height:calc(19em / 16)}}@media only screen and (max-width:749px){.site-header__cart-count span{padding:.25em calc(6em / 16);font-size:12px}}.site-header__menu{display:none}@media only screen and (max-width:749px){.site-header__icon{display:inline-block;vertical-align:middle;padding:10px 11px;margin:0}}@media only screen and (min-width:750px){.site-header__icon .icon-search{margin-right:3px}}.announcement-bar{z-index:10;position:relative;text-align:center;border-bottom:1px solid transparent;padding:2px}.announcement-bar__link{display:block}.announcement-bar__message{display:block;padding:11px 22px;font-size:calc(((16)/ (var(--font-size-base))) * 1em);font-weight:var(--font-weight-header)}@media only screen and (min-width:750px){.announcement-bar__message{padding-left:55px;padding-right:55px}}.site-nav{position:relative;padding:0;text-align:center;margin:25px 0}.site-nav a{padding:3px 10px}.site-nav__link{display:block;white-space:nowrap}.site-nav--centered .site-nav__link{padding-top:0}.site-nav__link .icon-chevron-down{width:calc(8em / 16);height:calc(8em / 16);margin-left:.5rem}.site-nav__label{border-bottom:1px solid transparent}.site-nav__link--active .site-nav__label{border-bottom-color:var(--color-text)}.site-nav__link--button{border:none;background-color:transparent;padding:3px 10px}.site-header__mobile-nav{z-index:11;position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header__mobile-nav{display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center}}.mobile-nav--open .icon-close{display:none}.main-content{opacity:0}.main-content .shopify-section{display:none}.main-content .shopify-section:first-child{display:inherit}.critical-hidden{display:none}</style>
<style>
  .cart-popup-wrapper.cart-popup-wrapper--hidden.critical-hidden {
    display: none;
}
  
  </style>
  <script>
    window.performance.mark('debut:theme_stylesheet_loaded.start');

    function onLoadStylesheet() {
      performance.mark('debut:theme_stylesheet_loaded.end');
      performance.measure('debut:theme_stylesheet_loaded', 'debut:theme_stylesheet_loaded.start', 'debut:theme_stylesheet_loaded.end');

      var url = "{{ 'theme.css' | asset_url }}";
      var link = document.querySelector('link[href="' + url + '"]');
      link.loaded = true;
      link.dispatchEvent(new Event('load'));
    }
  </script>
  
  <link rel="preload" href="{{ 'bootstrap.min.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'bootstrap.min.css' | asset_url  }}"></noscript>							
 <link rel="preload" href="{{ 'font-awesome.min.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'font-awesome.min.css' | asset_url  }}"></noscript>	
   <link rel="preload" href="{{ 'owl.carousel.min.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'owl.carousel.min.css' | asset_url  }}"></noscript>	
   <link rel="preload" href="{{ 'owl.theme.default.min.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'owl.theme.default.min.css' | asset_url  }}"></noscript>	
   <link rel="preload" href="{{ 'style.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'style.css' | asset_url  }}"></noscript>	
   <link rel="preload" href="{{ 'style1.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'style1.css' | asset_url  }}"></noscript>	
     <link rel="preload" href="{{ 'support-new-meazor.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'support-new-meazor.css' | asset_url  }}"></noscript>	
   <link rel="preload" href="{{ 'responsive1.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'responsive1.css' | asset_url  }}"></noscript>	
   <link rel="preload" href="{{ 'style1.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'style1.css' | asset_url  }}"></noscript>	
     <link rel="preload" href="{{ 'style-nil.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'style-nil.css' | asset_url  }}"></noscript>	
     <link rel="preload" href="{{ 'style-nil-responsive.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'style-nil-responsive.css' | asset_url  }}"></noscript>	
     <link rel="preload" href="{{ 'responsive.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'responsive.css' | asset_url  }}"></noscript>	
     <link rel="preload" href="{{ 'aos.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'aos.css' | asset_url  }}"></noscript>	
  
<!--      {{'bootstrap.min.css' | asset_url | stylesheet_tag }} -->
    <!-- font-awsome-min-css -->
<!--    {{'font-awesome.min.css' | asset_url | stylesheet_tag }} -->
    <!-- owl-carousel-css -->
<!--      {{'owl.carousel.min.css' | asset_url | stylesheet_tag }} -->
    <!-- owl.theme.default-css -->
<!--     {{'owl.theme.default.min.css' | asset_url | stylesheet_tag }} -->
    <!-- defuelt-css -->
{% comment %}{{'style.css' | asset_url | stylesheet_tag }}  
  {{'style1.css' | asset_url | stylesheet_tag }} 
  {{'style-nil.css' | asset_url | stylesheet_tag }} 
   {{'style-nil-responsive.css' | asset_url | stylesheet_tag }} 
    {{'support-new-meazor.css' | asset_url | stylesheet_tag }} 
   {{'responsive1.css' | asset_url | stylesheet_tag }} 

 {{'responsive.css' | asset_url | stylesheet_tag }}
    {{'aos.css' | asset_url | stylesheet_tag }}  {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link  href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap" rel="stylesheet"> 
<link rel="preload" href="{{ 'meazor.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'meazor.css' | asset_url  }}"></noscript>	
      <link rel="preload" href="{{ 'meazor-responsive.css' | asset_url  }}" as="style" onload="this.onload=null;this.rel='stylesheet'">							
<noscript><link rel="stylesheet" href="{{ 'meazor-responsive.css' | asset_url  }}"></noscript>
<!--   {{'meazor-responsive.css' | asset_url | stylesheet_tag }} -->

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" type="text/css" media="print" onload="this.media='all';onLoadStylesheet()">
<!--   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css'> -->

  <style>
    {{ header_font | font_face: font_display: 'swap' }}
    {{ base_font | font_face: font_display: 'swap' }}
    {{ base_font_bold | font_face: font_display: 'swap' }}
    {{ base_font_bolder | font_face: font_display: 'swap' }}
    {{ base_font_italic | font_face: font_display: 'swap' }}
    {{ base_font_bold_italic | font_face: font_display: 'swap' }}
  </style>

  <script>
    {%- if settings.currency_code_enabled -%}
      const moneyFormat = {{ shop.money_with_currency_format | json }}
    {%- else -%}
      const moneyFormat = {{ shop.money_format | json }}
    {%- endif -%}

    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
        vendor: {{'products.product.vendor' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        searchFor: {{ 'general.search.search_for' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
        products: {{ 'general.search.products' | t | json }},
        loading: {{ 'general.search.loading' | t | json }},
        number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
        number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
        one_result_found: {{ 'general.search.one_result_found' | t | json }}
      },
      moneyFormat: moneyFormat,
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
      settings: {
        predictiveSearchEnabled: {{ settings.predictive_search_enabled | json }},
        predictiveSearchShowPrice: {{ settings.predictive_search_show_price | json }},
        predictiveSearchShowVendor: {{ settings.predictive_search_show_vendor | json }}
      },
      stylesheet: "{{ 'theme.css' | asset_url }}"
    };

    {%- if template == 'collection' -%}
      {%- if current_tags -%}
        {%- capture tag_handles -%}
            {%- for tag in current_tags -%}
              {{- tag | handle | append: '|' -}}
            {%- endfor -%}
        {%- endcapture -%}
      {%- endif -%}
      theme.backToCollection = {
        collection: {
          title: {{ collection.title | json }},
          link: "{{ shop.url }}{{ collection.url }}{%- if current_tags -%}/{{- tag_handles | split: '|' | join: '+' -}}{%- endif -%}"
        }
      };
      sessionStorage.setItem("backToCollection", JSON.stringify(theme.backToCollection.collection));

    {%- elsif template != 'product' -%}
      if (sessionStorage.getItem("backToCollection")) {
        sessionStorage.removeItem("backToCollection")
      }
    {%- endif -%}

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  
  <script src="{{ 'jquery.min.js' | asset_url }}" ></script>
  <script src="{{ 'owl.carousel.min.js' | asset_url  }}" ></script>
  <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
   <script src="{{ 'aos.js' | asset_url  }}" async></script>
 <script src="{{ 'bootstrap.min.js' | asset_url  }}" async></script>
   <script src="{{ 'atharva_minicart' | asset_url  }}" async></script>
  
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="//cdn.codeblackbelt.com/js/modules/also-bought/main.min.js?shop=hozodesign.myshopify.com" defer></script>
  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>

  <script type="text/javascript">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11CustomProperties.min.js' | asset_url }}";

      scripts.parentNode.insertBefore(polyfill, scripts);
    }
  </script>

  {{ content_for_header }}

  {% render 'kickbooster' %}
{% include 'dataLayer-allPages' %}
{% include 'fa_translate_core' %} 
{% comment %}  {% render 'judgeme_core' %} {% endcomment %}
{% include 'alireviews_core' %} 

{% style %} 
@font-face {
    font-family: "alibaba-heavy";
    src: url("{{ 'alibabapuhuiti-heavy.woff2' | file_url }}") format("woff2");
    src: url("{{ 'alibabapuhuiti-heavy.woff' | file_url }}") format("woff");
}  
{% endstyle %}

{{ 'custom.css' | asset_url | stylesheet_tag }}
 {% include 'swift_core' %} 

 
 

 
 {% include "omega-tiktok-multi-pixels" %} {% include "omega_custom_code" %} </head>

<body class="template-{{ request.page_type | handle }}">
  
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://ss.hozodesign.com/ns.html?id=GTM-KBM8DRK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {%- if settings.enable_ajax -%}
    {% include 'cart-popup' %}
  {%- endif -%}

  {% section 'header-new' %}

  <div class="page-container drawer-page-content" id="PageContainer">

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {% capture ICART_FULL_PAGE_LAYOUT %}{{ content_for_layout }}{% endcapture %}{% include 'icart-variables', ICART_FULL_PAGE_LAYOUT: ICART_FULL_PAGE_LAYOUT %}
    </main>

    {% section 'footer-new' %}
 

    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'sections.slideshow.navigation_instructions' | t -}}
    </div>

  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="application/json" data-cart-routes>
    {
      "cartUrl": "{{ routes.cart_url }}",
      "cartAddUrl": "{{ routes.cart_add_url }}",
      "cartChangeUrl": "{{ routes.cart_change_url }}"
    }
  </script>
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=WyVzPW"></script>
{% include 'customjs' %}
  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>
<div class="video-box">
  <div class="video-box-iiners">
    <button type="button"><img data-swift-lazy=1 loading=lazy src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/close-_10.png?v=1661541463"></button>
  <iframe loading="lazy" width="100%" height="625" src="https://www.youtube.com/embed/7r9olktD0KI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
</div>
</div> 
  
  {% if page.handle == 'meazor-product' or product.handle == 'meazor3d' %}
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Return Merchandise Authrization</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="main-waping">
            <div class="row">
                <div class="col-md-4">
                    <div class="join-imag">
                        <img data-swift-lazy=1 loading="lazy" src="{{'joinus_edited.png' | asset_url}}" alt="">
                    </div>
                </div>
                <div class="col-md-8">
                 <div style="margin:0 auto;" class="pxFormGenerator" id="0WMfG48tBRgbRfUWh_lEkg"></div>
                </div>
                
            </div>
            
        </div>
      </div>
    </div>
  </div>
</div>





<div class="video-box2">
  <div class="video-box-iiners2">
    <button type="button"><img data-swift-lazy=1 loading=lazy src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/close-_10.png?v=1661541463"></button>
  <iframe loading="lazy" width="560" height="625" src="{{ product.metafields.custom.ultra_section_video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
  
  <div class="video-box3">
  <div class="video-box-iiners3">
    <button type="button"><img data-swift-lazy=1 loading=lazy src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/close-_10.png?v=1661541463"></button>
  <iframe loading="lazy" width="560" height="625" src="{{ product.metafields.custom.watch_film }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

  {%  endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
            <script async src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js" integrity="sha512-ZHauUc/vByS6JUz/Hl1o8s2kd4QJVLAbkz8clgjtbKUJT+AG1c735aMtVLJftKQYo+LD62QryvoNa+uqy+rCHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
            <script src="{{ 'swiper.min.js' | asset_url }}"></script>
<script>
 new WOW().init();
  
$("body").on('click', '.leran__hzmore3sbtns a', function(){
  $('.six__clmbtnclick--show').show();
  $('.desktop__sixclum2').hide();
  $(this).parent().hide();
}); 
  
$("body").on('click', '.nozo__dataimgbtn a', function(){
  $('.hozo_beyond--dataimg ul').show();
  $(this).parent().hide();
});   
  
$(window).scroll(function(){
    if ($(window).scrollTop() >= 40.5) {
        $('div#shopify-section-header').addClass('fixed-header');
    }
    else {
        $('div#shopify-section-header').removeClass('fixed-header');
    }
});  

</script>  
  <script>
submitForms = function(){    
$.ajax({
type: 'POST',
url: '/cart/add.js',
data: {
  quantity: 1,
  id: 41977951584494
},
  dataType: 'json', 
 success: function (data) { 
 console.log("pro added");
   
   
   var mid = document.getElementById("shopPrId").value;

  console.log(mid);
    //console.log(qty);
$.ajax({
type: 'POST',
url: '/cart/add.js',
data: {
  quantity: 1,
  id: mid
},
  dataType: 'json', 
 success: function (data) { 
 console.log("6-1 added");
 
 } 
 });
   
 
 } 
 });

    
 
    
   } 
  </script>

  <script>
    $(".cartpix").click(function(){
      console.log("cartpixcartpixcartpixcartpix");
    //$(".floating-cart").click();
       $(".floating-cart-bubble").trigger("click");
    });
   
    
  </script>
  <script>
      
addtocardForms = function(){ 
var id = document.getElementById("productid").value;
var qty = document.getElementById("quantity").value;
  console.log(id);
    console.log(qty);
$.ajax({
type: 'POST',
url: '/cart/add.js',
data: {
  quantity: qty,
  id: id
},
  dataType: 'json', 
 success: function (data) { 
 
 
 } 
 });

    
    
   } 
    
  </script>
 
  <script type="text/javascript">
_linkedin_partner_id = "4085428";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(l) {
if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
window.lintrk.q=[]}
var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})(window.lintrk);
</script>
{% comment %} 优化代码加载位置 {% endcomment %}
<script type="text/javascript">
              var galleryThumbs = new Swiper('.gallery-thumbs', {
  effect: 'coverflow',
  grabCursor: true,
  centeredSlides: true,
  slidesPerView: '2',
  // coverflowEffect: {
  //   rotate: 50,
  //   stretch: 0,
  //   depth: 100,
  //   modifier: 1,
  //   slideShadows : true,
  // },
  
  coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 0,
        modifier: 6,
        slideShadows : false,
    },
    
  });
  
  
var galleryTop = new Swiper('.swiper-container.support-about-hozo-slider', {
  speed: 600,
  spaceBetween: 50,
  // autoplay: {
  //   delay: 3000,
  //   disableOnInteraction: false,
  // },
  
  direction: 'horizontal',
  pagination: {
    clickable: true,
    el: '.swiper-pagination',
    type: 'bullets',
  },
  thumbs: {
    swiper: galleryThumbs
    }
  });
          </script>
  
<noscript>
<img data-swift-lazy=1 loading=lazy height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=4085428&fmt=gif" />
  </noscript>  
  

<script>		
function loadResources(){let e=document.getElementsByTagName("link");if(e.length>0)for(let t=0;t<e.length;++t){let a=e[t].getAttribute("lazy-href");a&&e[t].setAttribute("href",a)}let t=document.getElementsByTagName("iframe");if(t.length>0)for(let e=0;e<t.length;++e){let a=t[e].getAttribute("lazy-src");a&&t[e].setAttribute("src",a)}let a=document.getElementsByTagName("video");if(a.length>0)for(let e=0;e<a.length;++e){let t=a[e].getAttribute("lazy-src");t&&a[e].setAttribute("src",t)}let o=document.getElementsByTagName("script");if(o.length>0)for(let e=0;e<o.length;++e){let t=o[e].getAttribute("lazy-src");t&&o[e].setAttribute("src",t)}}function elementInViewport(e){for(var t=e.offsetTop,a=e.offsetLeft,o=e.offsetWidth,n=e.offsetHeight;e.offsetParent;)t+=(e=e.offsetParent).offsetTop,a+=e.offsetLeft;return t<window.pageYOffset+window.innerHeight&&a<window.pageXOffset+window.innerWidth&&t+n>window.pageYOffset&&a+o>window.pageXOffset}function lazyLoadImage(){let e=document.getElementsByTagName("img");if(e.length>0)for(let t=0;t<e.length;++t){let a=e[t].getAttribute("lazy-src");a&&e[t].setAttribute("src",a)}let t=document.getElementsByClassName("__bg");if(t.length>0)for(let e=0;e<t.length;++e){let a=t[e].getAttribute("lazy-bg");a&&(t[e].style.backgroundImage="url("+a+")",t[e].style.backgroundPosition="center",t[e].style.backgroundSize="cover")}}function LoadImagesInit(){let e=document.getElementsByTagName("img");if(e.length>0)for(let t=0;t<e.length;++t)if(1==elementInViewport(e[t])){let a=e[t].getAttribute("lazy-src");a&&e[t].setAttribute("src",a)}}LoadImagesInit(),document.addEventListener("click",(function(){null==document.getElementsByTagName("body")[0].getAttribute("lazyLoaded")?(loadResources(),lazyLoadImage(),document.getElementsByTagName("body")[0].setAttribute("lazyLoaded","1")):lazyLoadImage()})),document.addEventListener("scroll",(function(){null==document.getElementsByTagName("body")[0].getAttribute("lazyLoaded")?(loadResources(),lazyLoadImage(),document.getElementsByTagName("body")[0].setAttribute("lazyLoaded","1")):lazyLoadImage()})),document.addEventListener("mouseover",(function(){null==document.getElementsByTagName("body")[0].getAttribute("lazyLoaded")?(loadResources(),lazyLoadImage(),document.getElementsByTagName("body")[0].setAttribute("lazyLoaded","1")):lazyLoadImage()})),document.addEventListener("keydown",(function(){null==document.getElementsByTagName("body")[0].getAttribute("lazyLoaded")?(loadResources(),lazyLoadImage(),document.getElementsByTagName("body")[0].setAttribute("lazyLoaded","1")):lazyLoadImage()})),document.addEventListener("touchmove",(function(){null==document.getElementsByTagName("body")[0].getAttribute("lazyLoaded")?(loadResources(),lazyLoadImage(),document.getElementsByTagName("body")[0].setAttribute("lazyLoaded","1")):lazyLoadImage()})),document.addEventListener("touchstart",(function(){null==document.getElementsByTagName("body")[0].getAttribute("lazyLoaded")?(loadResources(),lazyLoadImage(),document.getElementsByTagName("body")[0].setAttribute("lazyLoaded","1")):lazyLoadImage()})),document.addEventListener("wheel",(function(){null==document.getElementsByTagName("body")[0].getAttribute("lazyLoaded")?(loadResources(),lazyLoadImage(),document.getElementsByTagName("body")[0].setAttribute("lazyLoaded","1")):lazyLoadImage()}));		
</script>
<!--   {% if template.name == "collection" %}	
<script type="text/javascript">	
const fisrtSlideMB = document.getElementsByClassName("Products-imag");	
fisrtSlideMB[0].children[0].children[0].setAttribute("loading","eager");	
  // console.log(fisrtSlideMB[0].children[0].children[0], "image");
	
</script>
  {% endif %} -->

{% if request.page_type  == 'product' %}
<div class="quickViewModal">
  <div class="QWDropShadow"></div>
  <div class="quickview_wrapper">
    <button class="CloseQWModel"></button>
    <div class="row align-items-center">
          <div class="col-md-6">
              <div class="mezor__product-singleimg"> 
                  <div id="QWmyCarousel" class="carousel slide" >
                    <div class="carousel-inner">
                        {%for image in product.images%}
                          <div class="carousel-item {% if forloop.index0 == 0 %}active{% endif %}" data-slide-number="{{forloop.index0}}">
                            <img src="{{image |  img_url: 'master' }}" class="d-block w-100" alt="..." data-remote="https://source.unsplash.com/Pn6iimgM-wo/" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
                          </div>
                        {% endfor %}
                    </div>
                  </div>
        
                <!-- Carousel Navigation -->
                <div id="QWcarousel-thumbs" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active d-flex justify-content-center">
                         {%for image in product.images%}
                        <div id="carousel-selector-{{forloop.index0}}" class="thumb px-1 py-2 {% if forloop.index0 == 0 %}selected{% endif %}" data-target="#QWmyCarousel" data-slide-to="{{forloop.index0}}">
                          <img src="{{image |  img_url: 'master' }}" class="img-fluid" alt="...">
                        </div>
                        {% endfor %}
                    </div>
                    
                  </div>
                  <a class="carousel-control-prev" href="#QWcarousel-thumbs" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#QWcarousel-thumbs" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>   
          </div>
          <div  class="col-md-6 mt-3">
            <div class="price-main">
                 <h4 class="mb-2 QWtitle">{{ product.title }}</h4>
                   <div class="d-flex align-items-center mb-4">
                        <p class="new_price pr-3"><span class="QWprice">{{ product.price | money }} </span> {% if product.compare_at_price > product.price %}<span class="compare-price QWcompare">{{ product.compare_at_price }} </span>{% endif %}</p>
                   </div>  
              </div>
<!--             <p class="mb-1"><b>Description:</b></p> -->
            <div class="des QWdescription">
              {{ product.description }}
            </div>
          </div>
      </div>
  </div>
</div>
{% endif %}


<script>
  //dropdown on  click //
$(".dropdown_click .selected").on('click', function() {
  $(".dropdown_click .drop-content ul").slideToggle();
});

$(".dropdown_click .drop-content ul li span").on('click', function() {
  // var bindText = $(this).html();
  $(".dropdown_click .selected  span").html($(this).html());
  $(".dropdown_click .drop-content ul").slideUp();
}); 


$(document).bind('click', function(e) {
  var $clickhide = $(e.target);
  if (! $clickhide.parents().hasClass("dropdown_c"))
      $(".dropdown_c .drop-content ul").slideUp();
});
$(document).ready(function(){
$('.accordion-list > li > .answer').hide();
  
$('.accordion-list > li').click(function() {
  if ($(this).hasClass("active")) {
    $(this).removeClass("active").find(".answer").slideUp();
  } else {
    $(".accordion-list > li.active .answer").slideUp();
    $(".accordion-list > li.active").removeClass("active");
    $(this).addClass("active").find(".answer").slideDown();
  }
  return false;
});


$('.hozos-journal-blog-slider').owlCarousel({
stagePadding: 200,
  loop:true,
  margin:30,
  nav:false,
  items:1,
  lazyLoad: true,
  nav:true,
  responsive: {
        0: {
            stagePadding: 0
        },
        1000: {
            stagePadding: 200
        }
    }
})

 $('.professionals-speak-silder').owlCarousel({
    items:2,
    loop:true,
    center:true,
    margin:40,
    URLhashListener:true,
    autoplayHoverPause:true,
    startPosition: 'URLHash',
     responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:2
        }
    }  
  });
});

</script>
<script>
$(document).ready(function(){
$('.award-winning-team-silder').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
});
</script>

</body>

</html>