<section class="customer-supportnew">
                <div class="container">
<!--                     <div class="technology-content text-center">
                           <h2>Customer Support</h2>
                           <p>Check the followings for more detail</p>
                       </div> -->
                    <div class="customer-supportmain">
                      {% comment %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="customer-content wow fadeIn" data-wow-duration="2s">
                                    <div class="customer-icon">
                                       <a href="{{section.settings.url1}}"> <svg preserveAspectRatio="xMidYMid meet" data-bbox="28.001 52.001 143.998 95.998" viewBox="28.001 52.001 143.998 95.998" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-labelledby="svgcid-fnkpjd-brd0da"><defs><style>#comp-kmd449yt2 svg [data-color="1"] {fill: #3270a7;}</style></defs><title id="svgcid-fnkpjd-brd0da"></title>
                                            <g>
                                                <path d="M162.999 133h-6v-6h6c1.655 0 3-1.351 3-3.01v-20.361c0-2.408-1.011-3.628-3-3.628h-4.764l-11.071-19.923c-.415-.589-1.341-1.078-2.334-1.078H121v-6h23.83a8.996 8.996 0 0 1 7.435 3.927L161.763 94h1.236c5.382 0 9 3.869 9 9.628v20.361c0 4.969-4.037 9.011-9 9.011z" fill="#3270a7" data-color="1"></path>
                                                <path fill="#3270a7" d="M124 133H76v-6h42V58H70v-5.999h54V133z" data-color="1"></path>
                                                <path fill="#3270a7" d="M52.001 127v6h-15v-6h15z" data-color="1"></path>
                                                <path d="M144.973 147.999c-8.285 0-15.026-6.718-15.026-14.973s6.741-14.973 15.026-14.973 15.026 6.718 15.026 14.973-6.741 14.973-15.026 14.973zm0-23.947c-4.977 0-9.026 4.025-9.026 8.974 0 4.948 4.049 8.974 9.026 8.974 4.977 0 9.026-4.025 9.026-8.974 0-4.948-4.048-8.974-9.026-8.974z" fill="#3270a7" data-color="1"></path>
                                                <path d="M64.027 147.999c-8.285 0-15.026-6.718-15.026-14.973s6.741-14.973 15.026-14.973 15.026 6.718 15.026 14.973-6.741 14.973-15.026 14.973zm0-23.947c-4.977 0-9.026 4.025-9.026 8.974 0 4.948 4.049 8.974 9.026 8.974s9.026-4.025 9.026-8.974c0-4.948-4.049-8.974-9.026-8.974z" fill="#3270a7" data-color="1"></path>
                                                <path fill="#3270a7" d="M133 127v6h-12v-6h12z" data-color="1"></path>
                                                <path fill="#3270a7" d="M150.999 103H127v-6h17.399l-4.896-7.339 4.993-3.331 6.503 9.752V103z" data-color="1"></path>
                                                <path fill="#3270a7" d="M79 88v6H28.001v-6H79z" data-color="1"></path>
                                                <path fill="#3270a7" d="M97.001 70v6h-45v-6h45z" data-color="1"></path>
                                                <path fill="#3270a7" d="M46.001 70v6h-6v-6h6z" data-color="1"></path>
                                                <path fill="#3270a7" d="M64 52.001v6h-6v-6h6z" data-color="1"></path>
                                            </g>
                                        </svg>
                                  </a>
                                    </div>
                                    <div class="customer-details">
                                         <h2 class="mt-3"><a href="{{section.settings.url1}}">SHIPPING</a></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="customer-content wow fadeIn" data-wow-duration="3s">
                                    <div class="customer-icon">
                                      <a href="{{section.settings.url2}}">
                                        <svg preserveAspectRatio="xMidYMid meet" data-bbox="46 30.5 108 138.9" viewBox="46 30.5 108 138.9" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-labelledby="svgcid-yxq6j2-92b4c9"><defs><style>#comp-kmd449yz svg [data-color="1"] {fill: #3270a7;}</style></defs><title id="svgcid-yxq6j2-92b4c9"></title>
                                        <g>
                                            <path d="M150.8 55.6c-13-.7-20.7-2.2-27.4-5.3-6.6-3.1-12.5-7.8-21.1-16.9l-2.7-2.9-2.4 3.2c-12.8 16.7-27.9 20.8-48 21.9l-3.2.2v58.7c0 1.6.3 36.6 52.5 54.6l1 .3.5-.1.5.1 1-.3c50.7-17.5 52.4-50.7 52.5-54.6V55.8l-3.2-.2zm-98.1 59V62c18.8-1.4 34.2-6 47.2-21.3v121.8c-46.9-16.4-47.2-46.6-47.2-47.9z" fill="#3270a7" data-color="1"></path>
                                        </g>
                                    </svg>
                                      </a>
                                    </div>
                                    <div class="customer-details">
                                         <h2 class="mt-3"><a href="{{section.settings.url2}}">WARRANTY</a></h2>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-4">
                                <div class="customer-content wow fadeIn" data-wow-duration="4s">
                                    <div class="customer-icon">
                                       <a href="{{section.settings.url3}}">
                                        <svg preserveAspectRatio="xMidYMid meet" data-bbox="30.8 27.999 138.401 144.001" viewBox="30.8 27.999 138.401 144.001" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-labelledby="svgcid-girjea-4lxwe6"><defs><style>#comp-kmd449z42 svg [data-color="1"] {fill: #3270a7;}</style></defs><title id="svgcid-girjea-4lxwe6"></title>
                                            <g>
                                                <path d="M154.155 172H33.809a3.004 3.004 0 0 1-3.009-3V88.001c0-1.657 1.347-3 3.009-3h102.295v6H36.817V166h114.329v-39h6.017v42a3.003 3.003 0 0 1-3.008 3z" fill="#3270a7" data-color="1"></path>
                                                <path d="M109.025 106.001H81.947a3.004 3.004 0 0 1-3.009-3v-15c0-1.657 1.347-3 3.009-3h27.078a3.004 3.004 0 0 1 3.009 3v15c0 1.656-1.347 3-3.009 3zm-24.069-6h21.061v-9H84.956v9z" fill="#3270a7" data-color="1"></path>
                                                <path fill="#3270a7" d="M51.86 154v6h-6.017v-6h6.017z" data-color="1"></path>
                                                <path fill="#3270a7" d="M63.895 154v6h-6.017v-6h6.017z" data-color="1"></path>
                                                <path fill="#3270a7" d="M75.93 154v6h-6.017v-6h6.017z" data-color="1"></path>
                                                <path d="M124.069 130h-6.017a3.004 3.004 0 0 1-3.009-3v-3c0-1.657 1.347-3 3.009-3h3.009c13.776 0 24.069-14.254 24.069-27 0-13.233-10.798-24-24.069-24h-6.017v6c0 .795-.317 1.559-.881 2.121l-3.009 3a3.01 3.01 0 0 1-4.006.221l-30.087-24a2.994 2.994 0 0 1 0-4.684l30.087-24a3.01 3.01 0 0 1 4.006.221l3.009 3c.564.562.881 1.326.881 2.121v6h9.026c24.886 0 45.131 20.187 45.131 45-.002 24.814-20.248 45-45.132 45zm-12.035-65.999h9.026c16.59 0 30.087 13.457 30.087 30 0 10.459-5.8 21.748-14.823 28.04 15.582-5.139 26.858-19.802 26.859-37.04 0-21.505-17.547-39-39.114-39h-12.035a3.004 3.004 0 0 1-3.009-3v-7.758l-.223-.223L83.754 55l25.048 19.98.223-.223v-7.758a3.004 3.004 0 0 1 3.009-2.998z" fill="#3270a7" data-color="1"></path>
                                            </g>
                                        </svg>
                                      </a>
                                    </div>
                                    <div class="customer-details">
                                         <h2 class="mt-3"><a href="{{section.settings.url3}}">RETURN & REFUND</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endcomment %}
                        <div id="support" class="row justify-content-center">
                          {% comment %}
                            <div class="col-md-6 d-flex">
                                <div class="question text-center wow fadeInLeft" data-wow-duration="2s">
                                    <svg preserveAspectRatio="xMidYMid meet" data-bbox="51 51 98 98" viewBox="51 51 98 98" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-labelledby="svgcid-fkstcy32t38u"><defs><style>#comp-kmd4ft4x1 svg [data-color="1"] {fill: #a6c9de;}
                                        #comp-kmd4ft4x1 svg [data-color="2"] {fill: #a6c9de;}</style></defs><title id="svgcid-fkstcy32t38u"></title>
                                            <g>
                                                <path d="M100 149c-27.018 0-49-21.982-49-49s21.982-49 49-49 49 21.982 49 49-21.982 49-49 49zm0-91.288c-23.317 0-42.288 18.97-42.288 42.288s18.97 42.288 42.288 42.288 42.288-18.97 42.288-42.288S123.317 57.712 100 57.712z" fill="#a6c9de" data-color="1"></path>
                                                <path d="M106.353 95.342H93.647a2.014 2.014 0 0 0-2.014 2.014v30.833c0 1.112.902 2.014 2.014 2.014h12.706a2.014 2.014 0 0 0 2.014-2.014V97.356a2.014 2.014 0 0 0-2.014-2.014z" fill="#3270A7" data-color="2"></path>
                                                <path d="M100 89.148c5.387 0 9.77-4.383 9.77-9.77s-4.383-9.77-9.77-9.77-9.77 4.383-9.77 9.77c0 5.388 4.383 9.77 9.77 9.77z" fill="#3270A7" data-color="2"></path>
                                            </g>
                                        </svg>
                                    <span>Have a question? <br>Check our knowledge & FAQ answers!</span>
                                    <h3> </h3>
                                    <div class="pdfbuton">
                                       <a href="{{section.settings.url04}}" class="CHECK">CHECK FAQ & USER MANUAL<svg data-bbox="36.5 19.998 127 160.002" viewBox="0 0 200 200" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape">
                                    <g>
                                        <path d="M161.508 65.595l-41.471-43.377a7.174 7.174 0 0 0-6.573-2.085H52.05c-8.575 0-15.55 7.02-15.55 15.648v128.572C36.5 172.98 43.475 180 52.05 180h95.814c8.573 0 15.549-7.02 15.549-15.648V71.746c.332-2.165-.28-4.451-1.905-6.151zm-15.135 5.13h-23.775c-4.068 0-7.377-3.33-7.377-7.423V38.141l31.152 32.584zm2.598 93.627c0 .614-.497 1.114-1.107 1.114H52.05c-.611 0-1.108-.5-1.108-1.114V35.781c0-.614.497-1.115 1.108-1.115h48.729v28.636c0 12.106 9.787 21.956 21.818 21.956h26.374v79.094z"></path>
                                    </g>
                                </svg></a>  
                                    </div>
                                </div>
                            </div>
                    {% endcomment %}
                            <div class="col-md-5">
                                <div class="ticket-from wow fadeInRight" data-wow-duration="2s">
                                    <h3 class="text-center">SUBMIT A TICKET</h3>
                                    <p  class="text-center">Need Helps? No problem, Just send us a message! We will reply to you soon.</p>
                                   <div style="margin:0 auto;" class="pxFormGenerator" id="BGnPATHdGNo4_-4ECpxEMA"></div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>    
            </section>


{% schema %}
  {
    "name": "Customer-support",
    "settings": [

 {
            "id": "url1",
            "type": "url",
            "label": "Add shipping url"
          },
 {
            "id": "url2",
            "type": "url",
            "label": "Add warranty url"
          },
 {
            "id": "url3",
            "type": "url",
            "label": "Add return url"
          },
{
            "id": "url04",
            "type": "url",
            "label": "Add Manual page url"
          }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
