<section class="about-product">
  <div class="container">
    <div class="head-section">
      <h2>{{ section.settings.title }}</h2>
    </div>

    {% comment %} <div class="row">
      <div class="col-md-4 d-flex">
        <div class="about-product-inner flex-fill">
          <div class="about-product-image">
            <a href="{{ section.settings.pro_url1 }}">
              <img src="{{ section.settings.image1 | img_url:'master' }}" class="img-fluid">
            </a>
          </div>
          <div class="about-product-content">
            <a href="{{ section.settings.pro_url1 }}"><p>{{ section.settings.protitle1 }} <i class="fa fa-angle-right"></i></p></a>
          </div>
        </div>
      </div> {% endcomment %}

      
    </div>
  </div>
</section>

{% schema %}
  {
"name": "h-about-product",
   "settings": [
       {
      "type": "text",
      "id": "title",
      "label": "Title"
    }],
    "blocks": [{
      "type": "text",
      "name": "Commition Icon",
      "settings": [
        {
          "type": "text",
          "id": "protitle1",
          "label": "Product Title"
        },
         {
          "type": "url",
          "id": "pro_url1",
          "label": "Url"
        },
         {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
        }
    ]
  }
 
 ],
    
"presets":[{
 "name": "h-about-product",
"category": "about-product"

}]
  }
{% endschema %}