<section>
  <div class="container">
      <div class="hozo_Ferocioushed feature-heading mt-5">
        <h2>{{ section.settings.title }}</h2>
      </div>
      <div class="hozos-journal-inner mb-5 h-345">
          <div class="owl-carousel owl-theme h-hozos-journal-blog-slider arrowEnable">
  
             {% for block in section.blocks %}
                {% assign article = articles[block.settings.article] %}
                  
                      <div class="item">
                          <div class="hozos-journal-silder-inner">
                              <div class="hozos-journal-inner-col">
                                  <a href="{{ article.url }}">
                                      {%- if article.image -%}
                                         <img src="{{ article.image | img_url: '1100x1100' }}" alt="{{ article.title }}">
                                      {%- endif -%}
                                    </a>
                              </div>
                              <div class="hozos-journal-inner-col-2">
                                  <h5><a href="{{ article.url }}">{{ article.title }}</a></h5>
                                  <div class="hozoa-journal-btn-date">
                                      <a href="{{ article.url }}">Read more</a>
                                      <p>{{ article.published_at | time_tag: format: 'date' }}</p>
                                  </div>
      
                              </div>
                          </div>
                      </div>
               {% endfor %}
  
          </div>
      </div>
  </div>
</section>

<script>
  $('.h-hozos-journal-blog-slider').owlCarousel({
    stagePadding: 200,
      loop:true,
      margin:30,
      nav:false,
      items:1,
      lazyLoad: true,
      nav:true,
      responsive: {
            0: {
                stagePadding: 0
            },
            1000: {
                stagePadding: 200
            }
        }
    })
    
</script>

{% schema %}
  {
    "name": "h-neoruler-blog",
    "settings": [
       {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
    ],
    "blocks": [{
        "type": "text",
        "name": "Article",
        "settings": [
          {
            "type": "article",
            "id": "article",
            "label": "Article"
          }
      ]
    }],
    "presets": [
      {
        "name": "h-neoruler-blog",
        "category": "Custom Content"
      }
    ]
}
{% endschema %}
