{{ 'meazor.css' | asset_url | stylesheet_tag }}
{{ 'meazor-responsive.css' | asset_url | stylesheet_tag }}


<style>

  .mezor__product-titlecnts .h-img{
    max-width:413px;
  }
  .mezor__product-singlecnts>div{
  text-align:left;
  }

  .mezor__product-titlecnts .h-hbtn{
    min-width:199px;
  }

  .h-mazor__3d-price{
    font-size:31px;
  }

  .hh-mezor__product-3dpremium{
    display:flex;

    align-items: center;
    justify-content:  center;
  }
  .mezor__product-titlecnts img:nth-child(2){
  width: 142px !important;
    height: 28px;
  }
  @media (max-width:767px){
    
    .h-mezor__product-imgs{
      background:#fff;
    }
    
    .align-items-center .mazor__3d-price{
      display:flex;
      justify-content: center;
    }

    .mezor__product-singlecnts>div{
      text-align:center;
      }
  
      div#myDivbb>img, div#myDivbb>h2, div#myDivbb>p, div#myDivbBuynow>img, div#myDivbBuynow>h2, div#myDivbBuynow>p {
          display: block;
      }

      div#myDivbb>img{
        max-width:185px !important;
        margin:0 auto;
      }
      div#myDivbb>h2{
        font-size:24.3px !important;
      }

      div#myDivbb>p{
      font-size:15px !important;
      }

      .align-items-center .mazor__3d-price{
        font-size:24px !important;
      }

      .mezor__product-titlecnts img:nth-child(2){
        width:94px !important;
      }

      .mezor__product-titlecnts.mobile__new-design-g{
        display: none!important;
      }


      .align-items-center.h-123{
        display: flex;
        flex-direction: column-reverse;
      }

      
  }
</style>

<section class="mezor__product-imgs h-mezor__product-imgs">
  <div class="container">
    <div class="row align-items-center h-123">
      <div class="col-md-6 h-bg">
        <div class="mezor__product-singleimg">
          <div class="mezor__product-titlecnts mobile__new-design-g" style="display:none;">
            <img
              class="lazyload "
              data-src="{{ section.settings.img3 | img_url : 'master' }}"
            >
            <h2>{{ section.settings.text1 }}</h2>
            <p>{{ section.settings.text2 }}</p>
          </div>
          
          <div class="mezor__product-3dpremium hh-mezor__product-3dpremium">
            <button class="btn btn-primary QWButton" data-product="{{ product.handle }}">Quick View</button>
            {% comment %}
              <img src="assets/img/meazor-3dfirst.png">
              <img src="{{ section.settings.img1 | img_url : 'master' }}">
              <img src="{{ product.featured_image | img_url: '1000x1000' }}" alt="{{product.featured_image.alt}}" />
            {% endcomment %}
            <img
              class="lazyload h-123" style="max-width:370px"
              data-src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Frame_503.png?v=1681882937"
            >
          </div>
          <div class="mezor__product-3dmezor  ">
            {% comment %}
              <img src="assets/img/meazor-3d-img.png">
              <img src="{{ section.settings.img2 | img_url : 'master' }}">

               <video style="display:none;" class="mazor--video" id="videoclip" width="100%" height="100%" autoplay loop playshine muted>
                <source id="mp4video" src="https://cdn.shopify.com/videos/c/o/v/6041c1b814e54dcfa269fd604c183afc.mp4" type="video/mp4" />
              </video>
            {% endcomment %}
            <button class="btn btn-primary QWButton" data-product="{{ product.handle }}">Quick View</button>
            <img
              class="lazyload h-234"
              data-src="//cdn.shopify.com/s/files/1/0549/7667/6078/products/20_e0d2c871-63c8-406a-87e0-d0d711848cd1_1000x1000.png?v=1667292107"
              alt="{{product.featured_image.alt}}"
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mezor__product-singlecnts">
          <div class="mezor__product-titlecnts" id="myDivbb">
            <img
              class="lazyload h-img"
              data-src="{{ section.settings.img3 | img_url : 'master' }}"
            >
            <h2>{{ section.settings.text1 }}</h2>
            <p>{{ section.settings.text2 }}</p>
            {% assign product = all_products[section.settings.p1] %}
            <div class="mazor__3d-price h-mazor__3d-price" style="display:flex;align-items:center;">
              <span style="font-size:22px">Start from</span> {{ section.settings.price }}
              
                <img
                  class="lazyload h-to-faq" 
                  data-src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Group_1348.png?v=1681904948"
                >
            
              <script>
                $('.h-to-faq').click(function(){
                  $('html,body').animate({scrollTop:$('.h-faq-section').offset().top-150}, 500);
                
                
                })
              </script>
            </div>

            <button
              type="button"
              {% unless product.available %}
                disabled
              {% endunless %}
              price="{{ product.price | money_without_currency }}"
              class="deproduct select h-hbtn"
              id="{{ product.variants.first.id }}"
            >
              {% if product.available %}Pre-order Now {% else %} SOLD OUT {% endif %}
            </button>
          </div>
          <div class="mezor__product-pluginout">
            <div class="mezor__prd-back"><img class="lazyload" data-src="{{ 'black__left.svg' | asset_url}}"> Back</div>
            <ul>
              <select name="id" id="{{ product.handle }}" style="display: none;">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                  {% else %}
                    <option disabled="disabled">{{ variant.title }} - Sold Out</option>
                  {% endif %}
                {% endfor %}
              </select>

              <ul class="new-list" style="height:0;overflow:hidden;">
                {% for variant in product.variants %}
                  <li
                    number="{{ forloop.index }}"
                    class="variant_meazor_li premiummajoq__3dclick {%  if forloop.index < 2 %} mezor__activepack{% endif %}"
                    price="{{ variant.price | money_without_currency }}"
                    id="{{ variant.id }}"
                    videourl="{{ variant.metafields.custom.videourl }}"
                  >
                    <div class="price-main">
                      <p>NeoFunction</p>
                      {% if variant.metafields.custom.sub_text %}
                        <div class="d-flex align-items-center mt-1">
                          <p class="new_price pr-3">{{ variant.price | money }}</p>
                          {{ variant.metafields.custom.sub_text }}
                        </div>
                      {% endif %}
                    </div>

                    {% if variant.metafields.custom.sub_text %}
                      <img class="tickIcon lazyload" data-src="{{ 'tick_Icon.png' | asset_img_url: 'master' }}">
                    {% endif %}

                    {% unless variant.metafields.custom.sub_text %}
                      <p class="new_price mr-3">{{ variant.price | money }}</p>
                      <img class="tickIcon lazyload" data-src="{{ 'tick_Icon.png' | asset_img_url: 'master' }}">
                    {% endunless %}

                    <div class="special-variant-specification   {%  if forloop.index < 2 %} activevari  {% endif %}">
                      {{ variant.metafields.custom.variant_specification }}
                    </div>
                  </li>
                {% endfor %}
              </ul>

              <h3 data-h="123">Modular Design for Every Possibility</h3>
              <div class="tab">
                <button class="tablinks active" onclick="openCity_1(this)">NeoFunction</button>
                <button class="tablinks" onclick="openCity_1(this)">NeoLook</button>
              </div>
              <div id="first" class="tabcontent active" style="display:block">
                <ul class="new-list">
                  {% for block in section.blocks %}
                    {% if block.type == 'first' %}
                      {% assign pr1 = all_products[block.settings.pr1] %}
                      <li
                        class="premiummajoq__3dclick2"
                        price="{{ pr1.price | money_without_currency }}"
                        id="{{ pr1.variants.first.id }}"
                      >
                        <div>
                          <img
                            class="lazyload"
                            data-src="{{ pr1.featured_media | img_url : 'master'}}"
                          >
                        </div>
                        <div>
                          <p>
                            <a href="{{ pr1.url }}">{{ pr1.title }}</a>
                          </p>
                          <div class="tab-price-main">
                            <div>
                              <p class="tab-price">
                                {{ pr1.price | money }}
                                {% if pr1.compare_at_price > pr1.price %}
                                  <span class="special-pr">{{ pr1.compare_at_price | money }}</span>
                                {% endif %}
                              </p>
                            </div>
                            <div>
                              {% if pr1.compare_at_price > pr1.price %}
                                <span
                                  ><strong>
                                    {{
                                      pr1.compare_at_price
                                      | minus: pr1.price
                                      | times: 100.0
                                      | divided_by: pr1.compare_at_price
                                      | money_without_currency
                                      | times: 100
                                      | remove: '.0'
                                    -}}
                                    % OFF
                                  </strong></span
                                >
                              {%- endif %}
                            </div>
                          </div>
                        </div>
                        <span class="multiTick">
                          <img class="tickIcon lazyload" data-src="{{ 'tick_Icon.png' | asset_img_url: 'master' }}">
                        </span>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>

              <div id="last" class="tabcontent">
                <ul class="new-list">
                  {% for block in section.blocks %}
                    {% if block.type == 'last' %}
                      {% assign pr1 = all_products[block.settings.pr1] %}
                      <li
                        class="premiummajoq__3dclick2"
                        price="{{ pr1.price | money_without_currency }}"
                        id="{{ pr1.variants.first.id }}"
                      >
                        <div>
                          <img
                            class="lazyload"
                            data-src="{{ pr1.featured_media | img_url : 'master'}}"
                            class="gggggg"
                          >
                        </div>
                        <div>
                          <p class="poto">
                            <a href="{{ pr1.url }}">{{ pr1.title }}</a>
                          </p>
                          <div class="tab-price-main">
                            <div>
                              <p class="tab-price">
                                {{ pr1.price | money }}
                                {% if pr1.compare_at_price > pr1.price %}
                                  <span class="special-pr">{{ pr1.compare_at_price | money }}</span>
                                {% endif %}
                              </p>
                            </div>
                            <div>
                              {% if pr1.compare_at_price > pr1.price %}
                                <span
                                  ><strong>
                                    {{
                                      pr1.compare_at_price
                                      | minus: pr1.price
                                      | times: 100.0
                                      | divided_by: pr1.compare_at_price
                                      | money_without_currency
                                      | times: 100
                                      | remove: '.0'
                                    -}}
                                    % OFF
                                  </strong></span
                                >
                              {%- endif %}
                            </div>
                          </div>
                        </div>
                        <span class="multiTick">
                          <img class="tickIcon lazyload" data-src="{{ 'tick_Icon.png' | asset_img_url: 'master' }}">
                        </span>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class="btm-professional-s">
                <p>
                  Total <span class="totalprice">{{ product.price | money }}</span>
                </p>
                <div class="btm-professional-btns">
                  <button type="button" class="finaladd mxform">Add to cart</button>
                  <button type="button" class="finaladdnow">Buy Now</button>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function openCity_1(evt) {

    tabcontent = document.getElementsByClassName("tabcontent");
    var index= $(evt).index()
    $(evt).addClass('active').siblings().removeClass('active')
    console.log($(this),index,$(evt).parent().siblings('.tabcontent').eq(index))
    $(evt).parent().siblings('.tabcontent').eq(index).show().siblings('.tabcontent').hide();
    
  }
</script>
{% schema %}
{
  "name": "Meazor",
  "settings": [
    {
      "id": "img1",
      "type": "image_picker",
      "label": "Add Image"
    },
    {
      "id": "img2",
      "type": "image_picker",
      "label": "Add Image"
    },
    {
      "id": "img3",
      "type": "image_picker",
      "label": "Add Image"
    },
    {
      "id": "text1",
      "type": "textarea",
      "label": "Add text"
    },

    {
      "id": "text2",
      "type": "textarea",
      "label": "Add text"
    },

    {
      "id": "p1",
      "type": "product",
      "label": "Add product"
    },
    {
      "id": "price",
      "type": "text",
      "label": "Add price"
    }
  ],
  "blocks": [
    {
      "type": "first",
      "name": "first tab",
      "settings": [
        {
          "id": "pr1",
          "type": "product",
          "label": "Add add on product"
        }
      ]
    },
    {
      "type": "last",
      "name": "last tab",
      "settings": [
        {
          "id": "pr1",
          "type": "product",
          "label": "Add add on product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "h-product-template-buy-now",
      "category": "Custom Content"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
