<section class="hozo_connectmedia">
    <div class="container">
        <div class="hozo_Ferocioushed add-h">
            <h2>{{ section.settings.text1 }}</h2>
        </div>
        <div class="cork__mobile-connectmedia-inner">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              {% for block in section.blocks %}
                {% if block.type == 'top' %}
              <li class="nav-item">
                <a class="nav-link {% if forloop.index < 2 %}active {% endif %}" id="home-tab{{ forloop.index }}" data-toggle="tab" href="#home{{ forloop.index }}" role="tab" aria-controls="home{{ forloop.index }}" aria-selected="true">
                    <span></span>
                    <img 
                      class="lazyload"
                      data-src="{{ block.settings.image | img_url : 'master' }}">
                </a>
              </li>
                  {% endif %}
             {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
               {% assign numb = 1 %}
               {% for block in section.blocks %}
                   {% if block.type == 'bottom' %}
                    
              <div class="tab-pane fade {% if numb < 2 %}show active {% endif %}" id="home{{ numb }}" role="tabpanel" aria-labelledby="home-tab{{ numb }}">
                  <p>{{ block.settings.text }}</p>
                  <div class="app-img-main">
                      <div class="app-img-box">
                          <img 
                            class="lazyload"
                            data-src="{{ block.settings.img2 | img_url : 'master' }}">
                      </div>
                      <div class="app-img-box">
                          <img 
                            class="lazyload"
                            data-src="{{ block.settings.img3 | img_url : 'master' }}">
                      </div>
                  </div>
<!--                 only for middle tab -->
                {% if block.settings.btntxt != blank %} 
                  <div class="mg-button">
                    <a href="{{ block.settings.btntxturl }}" class="mg-button-link">{{ block.settings.btntxt }}</a>
                  </div>
                  {% endif %}
              </div>
                      {% assign numb = numb | plus: 1 %}
                     {% endif %}
                {%  endfor %}                              
            </div>        
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Meazor-connectmedia",
    "settings": [
{
            "id": "text1",
            "type": "textarea",
            "label": "Add Heading"
          }
      
    ],
     "blocks": [
      {
        "type": "top",
        "name": "top",
        "settings": [

       {
            "id": "image",
            "type": "image_picker",
            "label": "Add Image"
          }
        ]
      },
        {
        "type": "bottom",
        "name": "bottom",
        "settings": [
 {
            "id": "text",
            "type": "textarea",
            "label": "Add text"
          },
       {
            "id": "img2",
            "type": "image_picker",
            "label": "Add Image"
          },
        {
            "id": "img3",
            "type": "image_picker",
            "label": "Add Image"
          },
           {
            "id": "btntxt",
            "type": "textarea",
            "label": "Add button text"
          },
           {
            "id": "btntxturl",
            "type": "url",
            "label": "Add button url"
          }

          
         
        ]
      }
    ],
    "presets":[{
 "name": "Meazor-connect-media",
"category": "Custom Content"

}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}