<section class="hozo-beyond-heading">
    <div class="container">
        <div class="hozo_Ferocioushed feature-heading">
          <h2>Features</h2>
        </div>
    </div>
</section>
<section class="hozo_beyond--sec">
    <div class="container">
        <div class="black-bg-hozo">
            <h2>Faster, Longer, Better</h2>
            <div class="row">
            <div class="col-md-3">
                <div class="hozo__beyond-1">   
                    <h3>+60%</h3>
                    <p>Measuring Range</p>
                </div> 
            </div>
            <div class="col-md-9">
                <div class="hozo__beyond-2">   
                    <h4>MEAZOR 3D</h4> 
                    <div class="one__fix-cl" data-aos="fade-in" data-aos-duration="1000"> 
                        <div class="hozo__pg--bar"></div>
                        <div class="hozo__beyond-1">   
                            <h4>40m/131ft</h4>
                        </div> 
                    </div> 
                    
                </div>
                <div class="hozo__beyond-22">   
                    <h4>MEAZOR</h4>   
                    <div class="one__fix-cl" data-aos="fade-in" data-aos-duration="2000"> 
                        <div class="hozo__pg--bar twentyone-ps" style="width:0"></div>
                        <div class="hozo__beyond-1"> 
                            <h4>25m/82ft</h4>
                        </div> 
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">
                
            </div>            
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="hozo__beyond-1">   
                    <h3>+35%</h3>
                    <p>Processor Speed</p>
                </div> 
            </div>
            <div class="col-md-9">
                <div class="hozo__beyond-2">   
                    <h4>MEAZOR 3D</h4>   
                    <div class="one__fix-cl" data-aos="fade-in" data-aos-duration="3000"> 
                        <div class="hozo__pg--bar"></div>   
                        <div class="hozo__beyond-1">   
                            <h4>STH7 MCU</h4>
                        </div>      
                    </div>

                    
                </div>
                <div class="hozo__beyond-22">   
                    <h4>MEAZOR</h4>   
                    <div class="one__fix-cl" data-aos="fade-in" data-aos-duration="4000"> 
                         <div class="hozo__pg--bar thirty-fourps" style="width:0"></div> 
                        <div class="hozo__beyond-1">
                            <h4>ST 412 MCU</h4>
                        </div>      
                    </div>
                   
                </div>
            </div>           
        </div>   
        </div> 
        <div class="bottom-button">
            <a href="{{shop.url}}/pages/meazor3d-tech">More Specs</a>
        </div>    
    </div>
</section>




<section class="hozo_beyond--dataimg">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="hozo__beyond-imgbig">   
                    <img src="{{ 'MEAZOR-3D-1.png' | asset_url  }}">
                    <div class="nozo__dataimgbtn"><a href="{{ section.settings.url2 }}">Learn more</a></div>
                </div> 
            </div>
            <div class="col-md-7">
                <ul>
                    <li>
                        <img src="{{ 'by-1.svg' | asset_url }}">
                        <div class="hozo__datacnts">
                            <h4>200 Data Built-in  Storage</h4>
                            <p>Save up to 100 data for both laser measure and rolling ruler</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ 'by-2.svg' | asset_url }}">
                        <div class="hozo__datacnts">
                            <h4>Languages</h4>
                            <p>Supports multi-languages for more user communities</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ 'by-3.svg' | asset_url }}">
                        <div class="hozo__datacnts">
                            <h4>1.3 Inch 184ppi</h4>
                            <p>Tempered glass 1.3 inch round supurior 184 ppi sensitive touch screen</p>
                        </div>
                    </li>  
                    <li>
                        <img src="{{ 'by-4.svg' | asset_url }}">
                        <div class="hozo__datacnts">
                            <h4>Dual Physical button</h4>
                            <p>Match for the next level convinience</p>
                        </div>
                    </li> 
                    <li>
                        <img src="{{ 'by-6.svg' | asset_url }}">
                        <div class="hozo__datacnts">
                            <h4>30 Days</h4>
                            <p>Long lasting standby time</p>
                        </div>
                    </li>                                                                              
                </ul>       
            </div>
        </div>
    </div>
</section>


<section class="hozo_mazorapp">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hozo__mazoleft-cnt">  
                    <h2>MEAZOR APP <span>2.0</span></h2>
                    <div class="meazor-img-d">
                        <img src="{{ 'MEAZOR APP_LOGO 1.svg' | asset_url }}">
                    </div>
                    <div class="free-img-d">
                        <img src="{{ 'free-lifetime.svg' | asset_url }}">   
                    </div>
                    <div class="hozo_maz-para">
                     <a href="https://app.apple.com/us/app/meazor/id1574713401"><img src="{{ 'apple_app_store.svg' | asset_url }}"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.yufei.robbiva"><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/google-play-badge_1.png?v=1672801459"></a>
                    </div>
                </div> 
            </div>
            <div class="col-md-6">
                <div class="meazor-slider">
                    <div class="owl-carousel meazor-carousel">
                        <div class="item">
                         <div class="meazor-image">
                             <img src="{{ 'List_Mode.png' | asset_url }}">
                         </div>
                         <div class="meazor-text">
                             <h2><a href="{{ section.settings.url5 }}">List Mode</a></h2>
                             <p>Space/Volume Auto Calculation</p>
                         </div>
                        </div>
                        <div class="item">
                         <div class="meazor-image">
                             <img src="{{ 'Drawing_Mode.png' | asset_url }}">
                         </div>
                         <div class="meazor-text">
                             <h2><a href="{{ section.settings.url6 }}">Drawing Mode</a></h2>
                             <p>Only one click away from 2D to 3D Display</p>
                         </div>
                        </div>
                        <div class="item">
                         <div class="meazor-image">
                             <img src="{{ 'Photo-Dimension.png' | asset_url }}">
                         </div>
                         <div class="meazor-text">
                             <h2><a href="{{ section.settings.url7 }}">Photo Dimension</a></h2>
                             <p>What you see is what you measure</p>
                         </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="three-box-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="auto-box-main">
                    <div class="a-box-img">
                      <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Group_469.svg?v=1661545691">
                    </div>
                    <h2><a href="#">Auto-dimension & 
                    Space calculation</a></h2>
                    <p>Your project is just about to get
                    much easier to be visualized</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="auto-box-main">
                    <div class="a-box-img">
                      <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Frame_496.svg?v=1661545691">
                    </div>
                    <h2><a href="#">Freely switch units</a></h2>
                    <p>Fractional, decimal, imperial, 
                    metric for a greater user community</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="auto-box-main">
                    <div class="a-box-img">
                      <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Group_596.svg?v=1661545691">
                    </div>
                    <h2><a href="#">CAD Export & more</a></h2>
                    <p>Export plans in DXF, JPG & PDF
                    Save Data List in XLS & TXT</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="comparison-section">
    <div class="container">
        <div class="hozo_Ferocioushed ultra-heading">
          <h2>Comparison Chart</h2>
        </div>
        <div class="comparison-s-main">
            <div class="comparison-box">
                <div class="com-icon">
                    <img src="{{ 'chart-1.svg' | asset_url }}">
                </div>
                <h2>P2P Laser  Measure</h2>
                <h3>$1000</h3>
                <ul>
                    <li>±3mm</li>
                    <li>3D Modeling</li>
                    <li>Laser  Distance</li>
                    <li>Floorplan  Scanning</li>
                    <li>Level</li>
                    <li>Pro-laser</li>
                    <li> — </li>
                    <li> — </li>
                    <li> — </li>
                    <li>Single  Room Surveying</li>
                    <li>＞3 lbs (1.4kg)</li>
                </ul>
            </div>
            <div class="comparison-box">
                <div class="com-icon">
                    <img src="{{ 'chart-2.svg' | asset_url }}">
                </div>
                <h2>MEAZOR 3D</h2>
                <h3>$349</h3>
                <ul>
                    <li>±3mm* </li>
                    <li>3D Modeling</li>
                    <li>Laser  Distance</li>
                    <li>Floorplan  Scanning</li>
                    <li>Level</li>
                    <li>Pro-laser</li>
                    <li>Curve  Scanning</li>
                    <li>Protractor</li>
                    <li>Scale/Rolling</li>
                    <li>Multiple  Rooms Surveying</li>
                    <li>≈0.7 lbs （320g)</li>
                </ul>
            </div>
            <div class="comparison-box">
                <div class="com-icon">
                    <img src="{{ 'chart-3.svg' | asset_url }}">
                </div>
                <h2>LASER  MEASURE</h2>
                <h3>$100</h3>
                <ul>
                    <li>±8mm</li>
                    <li> — </li>
                    <li>Laser  Distance</li>
                    <li> — </li>
                    <li>Level</li>
                    <li> — </li>
                    <li> — </li>
                    <li> — </li>
                    <li> — </li>
                    <li>Single Distance</li>
                    <li>≈ 0.5lbs (240g)</li>
                </ul>
            </div>
        </div>
        <div class="chart-b-pera">
            <p>* The accuracy result is ONLY a test result comes from a real-life test of a 80m2/862sq.ft.2B2B home renovation proejct that use different tools.
            Please refer to MEAZOR 3D tech specs for details.</p>
        </div>
    </div>
</section>
<section>
  <div class="container">
   
    <div class="hozo_Ferocioushed feature-heading mt-5">
        <h2>Read More about MEAZOR 3D</h2>
      </div>
    <div class="hozos-journal-inner mb-5">
        <div class="owl-carousel owl-theme hozos-journal-blog-slider arrowEnable">

           {% for block in section.blocks %}
              {% assign article = articles[block.settings.article] %}
                
                    <div class="item">
                        <div class="hozos-journal-silder-inner">
                            <div class="hozos-journal-inner-col">
                                <a href="{{ article.url }}">
                                    {%- if article.image -%}
                                       <img src="{{ article.image | img_url: '1100x1100' }}" alt="{{ article.title }}">
                                    {%- endif -%}
                                  </a>
                            </div>
                            <div class="hozos-journal-inner-col-2">
                                <h5><a href="{{ article.url }}">{{ article.title }}</a></h5>
                                <div class="hozoa-journal-btn-date">
                                    <a href="{{ article.url }}">Read more</a>
                                    <p>{{ article.published_at | time_tag: format: 'date' }}</p>
                                </div>
    
                            </div>
                        </div>
                    </div>
             {% endfor %}

        </div>
    </div>
</div>
</section>
<section class="social-section">
    <div class="container">
        <div class="hozo_Ferocioushed ultra-heading">
          <h2>Social Media</h2>
        </div>
        <div class="social-chat">
            <p>Chat with <span>8000</span> members of MEASURE community</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="social-img">
                  <a href="{{ section.settings.url8 }}" target="_blank">  <img src="{{ 'insta-s.png' | asset_url }}"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social-img">
                     <a href="{{ section.settings.url9 }}" target="_blank"> <img src="{{ 'fb-s.png' | asset_url }}"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social-img">
                     <a href="{{ section.settings.url10 }}" target="_blank"> <img src="{{ 'youtube-s.png' | asset_url }}"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social-img">
                    <a href="{{ section.settings.url11 }}" target="_blank">  <img src="{{ 'twitter-s.png' | asset_url }}"></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "hozo-beyond",
    "settings": [
        {
            "id": "url1",
            "type": "url",
            "label": "Add More Specs Url"
        },
    
      {
            "id": "url3",
            "type": "url",
            "label": "Add apple_app_store Url"
          },
      {
            "id": "url4",
            "type": "url",
            "label": "Add android_app_store Url"
          },
      {
            "id": "url5",
            "type": "url",
            "label": "Add List Mode Url"
          },
      {
            "id": "url6",
            "type": "url",
            "label": "Add Drawing mode Url"
          },
      {
            "id": "url7",
            "type": "url",
            "label": "Add Photo Dimension Url"
          },
      {
            "id": "url8",
            "type": "url",
            "label": "Add insta Url"
          },
      {
            "id": "url9",
            "type": "url",
            "label": "Add fb Url"
          },
      {
            "id": "url10",
            "type": "url",
            "label": "Add youtube Url"
          },
      {
            "id": "url11",
            "type": "url",
            "label": "Add twitter Url"
      }      
    ],
    "blocks": [{
        "type": "text",
        "name": "Article",
        "settings": [
          {
            "type": "article",
            "id": "article",
            "label": "Article"
          }
      ]
    }],
    "presets":[{
      "name": "Meazor-hozo-beyond-heading",
      "category": "Custom Content"
    }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}