{% section 'review-top' %}




	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
	  <section class="artical">
    	<div class="container">
    		<div class="top-bar">
    			<h2>Videos</h2>
    		</div>
   		
    			       {% section 'review-tab-1' %} 
    		
    	</div>
    	
    </section>
        
    		
               {% section 'review-tab-1-article' %} 
    			
    			
    			
    		
    		
    	

    <section class="Testimonials-WAP">
    	<div class="container">
    		<div class="top-bar">
    			<h2>CUSTOMER TESTINOMIALS</h2>
    		</div>
          
          
    		 {% section 'Review-tab-1-testis' %} 
          
          
          
          
    		
    		
    	</div>
    </section>
	  </div>
      
      
      
      
      
      
      
      
      
	  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
	  	<section class="artical">
    	<div class="container">
    		<div class="top-bar">
    			<h2>Videos</h2>
    		</div>
    		<div class="row mt-5">
    			{% section 'review-tab-2-video' %} 
    			
    			
    			
    			
    		</div>
    		
    	</div>
    	
    </section>
        <section class="artical">
    	<div class="container">
    		<div class="top-bar">
    			<h2>ARTICLES</h2>
    		</div>
    		<div class="row mt-5">
    			
    			<div class="col-md-3">
    				<div class="artical-main text-center">
    					<div class="artical-image">
    					    <img src="{{'Archdaily-Logo.png' | asset_url}}">
    					</div>
    					<p>“This Compact "Rolling Ruler" Seeks to Change how Architects Measure”</p>
    					<a href="https://www.archdaily.com/911299/this-compact-rolling-ruler-seeks-to-change-how-architects-measure " class="read">Read The Full Article</a>
    				</div>
    			</div>
    			<div class="col-md-3">
    				<div class="artical-main text-center">
    						<div class="artical-image">
    					    <img src="{{'partnerimg5.jpeg' | asset_url}}">
    					</div>
    					<p>INNOVATION AWARD 2018 “This incredible ruler can measure a wide range of surfaces, objects, and materials with a single motion.”</p>
    					<a href="https://thegadgetflow.com/portfolio/digital-rolling-ruler/ " class="read">Read The Full Article</a>
    				</div>
    			</div>
    			<div class="col-md-3">
    				<div class="artical-main text-center">
    				<div class="artical-image">
    					    <img src="{{'newatlasLOGO.png' | asset_url}}">
    					</div>
    					<p>“Its obvious strength is in measuring curved or uneven surfaces”</p>
    					<a href="https://newatlas.com/rollova-pocket-measure/54774/" class="read">Read The Full Article</a>
    				</div>
    			</div>
    			<div class="col-md-3">
    				<div class="artical-main text-center">
    						<div class="artical-image">
    					    <img src="{{'MensGear-Logo-5.png' | asset_url}}">
    					</div>
    					<p>“we found the ROLLOVA impressive”</p>
    					<a href="https://mensgear.net/hozo-design-rollova/" class="read">Read The Full Article</a>
    				</div>
    			</div>
    			<div class="col-md-3">
    				<div class="artical-main text-center">
    						<div class="artical-image">
    					    <img src="{{'TECHABLELOGO.jpg' | asset_url}}">
    					</div>
    					<p>“ユニークで実用的な機能に加えて、スタイリッシュなデザインが素晴らしい”(In addition to unique and practical features, the stylish design is amazing)</p>
    					<a href="https://techable.jp/archives/141934" class="read">Read The Full Article</a>
    				</div>
    			</div>
    			
    			
    			
    			
    			
    			
    		</div>
    		
    	</div>
    	
    </section>

    <section class="Testimonials-WAP">
    	<div class="container">
    		<div class="top-bar">
    			<h2>CUSTOMER TESTINOMIALS</h2>
    		</div>
    	    		 {% section 'Review-tab-2-testis' %} 

    		
    		
    	</div>
    </section>
	  </div>
	</div>

    <section class="HOZO">
    	<div class="container">
    		<div class="toping wow fadeIn" data-wow-duration="2s">
    			<p>At HOZO Design, we want you to have easy-to-use, compact tools <br>that can adapt to ANY measurement need.</p>
    		</div>
    		<div class="row">
    			<div class="col-md-6">
    			<div class="right-imag wow fadeInLeft" data-wow-duration="2s">
    				<img src="{{'mejer.png' | asset_url}}" alt="">
    				<div class="buton">
    					<a href="{{shop.url}}/products/meazor" class="Meet2">Meet MEAZOR <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-6">
    			<div class="right-imag wow fadeInRight" data-wow-duration="2s">
    				<img src="{{'mejar2.png' | asset_url}}" alt="">
    				<div class="buton">
    					<a href="{{shop.url}}/products/rollova-v2-0" class="Meet2">Meet ROLLOVA <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    				</div>
    			</div>
    		</div>
    			
    		</div>
    		
    	</div>
    	
    </section>
