 <section class="contct-banner " style="background-image: url('{{'newbg.png' | asset_url}}');">
        <div class="container">
            <h2 style="color:white">BUSINESS ENQUIRY</h2>
        </div>
    </section>

	<section class="partner-section">
		<div class="container">
		    <div class="Mainheading">
		        <h6>HOZO Design collaborates with more than 20 distributors and partners around the world:</h6>
		    </div>
			<div class="partner-main">
			    <div class="row justify-content-center">
             	<div class="col-md-3">
             		<div class="partner-box wow fadeIn" data-wow-duration="2s">
             			<img src="{{'partnerimg1.png' | asset_url}}">
             		</div>
                </div>
                <div class="col-md-3">
             		<div class="partner-box wow fadeIn" data-wow-duration="3s">
             			<img src="{{'partnerimg2.png' | asset_url}}">
             		</div>
                </div>
                <div class="col-md-3">
             		<div class="partner-box wow fadeIn" data-wow-duration="4s">
             			<img src="{{'partnerimg3.png' | asset_url}}">
             		</div>
                </div>
                <div class="col-md-3">
             		<div class="partner-box wow fadeIn" data-wow-duration="5s">
             			<img src="{{'partnerimg4.png' | asset_url}}">
             		</div>
                </div>
                <div class="col-md-4">
             		<div class="partner-box wow fadeIn" data-wow-duration="6s">
             			<img src="{{'partnerimg5.PNG' | asset_url}}">
             		</div>
                </div>
                </div>
             </div>
			</div>
	</section>
{% comment %}
{% section 'contact-top-section' %}
{% section 'contact-section1' %}
 
{% section 'contact-product' %}
{% endcomment %}
 {% section 'contact-section-3' %}




    




    
   