
 {% section 'meazore-core-head' %}
 {% comment %}
 <section class="review-banner probanner wvt-meazor-vx" style="background-image: url('{{'r-banner.png' | asset_url}}');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!--<div class="proimage">-->
                    <!--    <img data-swift-lazy=1 loading=lazy src="{{'fp-1.png' | asset_url}}">-->
                    <!--</div>-->
                <div class="product-slider wow fadeInLeft" data-wow-duration="2s">
                     <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                      <div class="carousel-inner">
                        
                      {%for image in product.images%}

                        <div class="carousel-item {% if forloop.index0 == 0 %}active{% endif %}">
                         <img data-swift-lazy=1 loading=lazy  src="{{image |  img_url: 'master' }}" alt="First slide">
                      </div>
                 {% endfor %}           
                        
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
                  
                    <div class="new-product" style="display:none">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      {%for image in product.images%}
    <div class="carousel-item {% if forloop.index0 == 0 %}active{% endif %}" data-slide-number="{{forloop.index0}}">
      <img data-swift-lazy=1 loading=lazy src="{{image |  img_url: 'master' }}" class="d-block w-100" alt="..." data-remote="https://source.unsplash.com/Pn6iimgM-wo/" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
    </div>
    {% endfor %}
   
  </div>
</div>

<!-- Carousel Navigation -->
<div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row mx-0">
         {%for image in product.images%}
        <div id="carousel-selector-{{forloop.index0}}" class="thumb col-4 col-sm-2 px-1 py-2 {% if forloop.index0 == 0 %}selected{% endif %}" data-target="#myCarousel" data-slide-to="{{forloop.index0}}">
          <img data-swift-lazy=1 loading=lazy src="{{image |  img_url: 'master' }}" class="img-fluid" alt="...">
        </div>
        {% endfor %}

       
      </div>
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                  </div>
              </div>
                
                </div>
                <div class="col-md-6">
                    <div class="meazor-promain wow fadeInRight" data-wow-duration="2s">
                     <div class="meazor-detail">
                         <h2>{{product.title}}</h2>
                         <span class="price-span">{{product.price | money}}</span>
                    <form>
                	<div class="qty">
                	  <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>

                   <input id="quantity" class="evt_qty wtv_oks" name="quantity"  type="text" value="1"/ >

                  <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>
                         <div class="pro-btn">
                     
                      <input type="hidden" id="shopPrId" name="id" value="{{ product.variants.first.id }}" />
                      
                        <button type="button" class="mxform" onclick="submitForms()">Add to Cart</button>

                      </form>
                           
                            
                        <form action="/cart" method="post" id="addToCart" class="cart">
                        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
                           <div class="qty" style="display:none">
                	  <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>

                  <input id="quantity" class="evt_qty" name="quantity"  type="text" value="1"/ >

                  <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>
                          <button type="button" class="buy-btn" onClick="instantBuy()">Buy Now</button>
                            </form>
                           
                           
                           
                           
                           
                         </div>
                         <div class="product-tab">
                             <!-- nav options -->
     <ul class="nav nav-pills mb-4 shadow-sm" id="pills-tab" role="tablist">
         <li class="nav-item"> <a class="nav-link active" id="pills-order-tab" data-toggle="pill" href="#pills-order" role="tab" aria-controls="pills-order" aria-selected="true">ABOUT</a> </li>
         <li class="nav-item"> <a class="nav-link" id="pills-specs-tab" data-toggle="pill" href="#pills-specs" role="tab" aria-controls="pills-specs" aria-selected="false">SPEC</a> </li>
           {% if  product.metafields.global.SHIPPING.value != blank %}
      <li class="nav-item"> <a class="nav-link" id="pills-sh-tab" data-toggle="pill" href="#pills-sh" role="tab" aria-controls="pills-sh" aria-selected="false">Pre-order Shipping</a> </li>
  {% endif %}
     </ul> <!-- content -->
     <div class="tab-content" id="pills-tabContent">
         <!-- 1st card -->
         <div class="tab-pane fade show active" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
           <div class="ordertab wvt_meazor_vx">
              {{ product.description }}
           </div>
         </div> <!-- 2nd card -->
         <div class="tab-pane fade" id="pills-specs" role="tabpanel" aria-labelledby="pills-specs-tab">
           <div class="specstab">
              
                 <p class="cwhite">{{ product.metafields.global.SPEC.value }}</p>
               
           </div>
         </div>
          <div class="tab-pane fade" id="pills-sh" role="tabpanel" aria-labelledby="pills-sh-tab">
           <div class="specstab">
              
                 <p class="cwhite"> {{ product.metafields.global.SHIPPING.value }}</p>
               
           </div>
         </div>
     </div>
                         </div>
                         <div class="social-list">
                             <ul>
                                 <li><a href="whatsapp://send?text={{ shop.url | append: share_permalink }}" data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on whatsapp"><img data-swift-lazy=1 loading=lazy src="{{'whatsapp.png' | asset_url}}"></a></li>
                                 <li><a href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}"><img data-swift-lazy=1 loading=lazy src="{{'facebook-logo.png' | asset_url}}"></a></li>
                                 <li><a href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}"><img data-swift-lazy=1 loading=lazy src="{{'twitter.png' | asset_url}}"></a></li>
                                 <li><a href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}"><img data-swift-lazy=1 loading=lazy src="{{'pinterest.png' | asset_url}}"></a></li>
                             </ul>
                         </div>
                     </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    {% endcomment %}
     <section class="review-banner intro-banner" style="background-image: url('{{'r-banner.png' | asset_url}}');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="contct-banner-content proimage-content wow fadeInUp" data-wow-duration="2s">
                        <img data-swift-lazy=1 loading=lazy src="{{'introducing-meazor.png' | asset_url}}" class="mb-4">
                        <p class="pro-para">The most compact 6-in-1 multifunction laser measure meant to make floor plan scan accessible to everyone.</p>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <section class="intro-video">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                      <div class="introducing-video wow fadeInUp" data-wow-duration="2s">
                            <iframe loading="lazy" width="560" height="315" lazy-src="https://www.youtube.com/embed/WZwzbvMKEjc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                </div>
            </div>
        </div>
    </section>

    {% section 'meazor-core-core-function' %}
    <section class="feature-section" style="background-image: url('{{'r-banner.png' | asset_url}}');">
        <div class="container">
         <div class="feature-main">
            <div class="row">
            <div class="col-md-7">
                <div class="feature-left wow fadeInLeft" data-wow-duration="2s">
                    <div class="feature-img">
                        <img data-swift-lazy=1 loading=lazy src="{{'feature.png' | asset_url}}">
                    </div>
                    <a href="{{shop.url}}/pages/tech-page" class="techlink">Tech Specs</a>
                  
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-right wow fadeInRight" data-wow-duration="2s">
                    <div class="feature-main">
                        <div class="featue-inner">
                            <img data-swift-lazy=1 loading=lazy src="{{'CPU.png' | asset_url}}">
                            <p>120<span>%↑</span></p>
                        </div>
                        <div class="feature-text">
                            <h4> Move Beyond Faster</h4>
                            <p>STM32 high-speed microprocessor supports 120% better processing efficiency</p>
                        </div>
                    </div>
                     <div class="feature-main">
                        <div class="featue-inner">
                            <img data-swift-lazy=1 loading=lazy src="{{'RoundScreen.png' | asset_url}}">
                            <p>184<span>ppi</span></p>
                        </div>
                        <div class="feature-text">
                            <h4> Touch the Future</h4>
                            <p>Tempered glass 1.3 Inch 184ppi round LCD touch screen</p>
                        </div>
                    </div>
                    <div class="feature-main">
                        <div class="featue-inner">
                            <img data-swift-lazy=1 loading=lazy src="{{'RotaryEncoder.png' | asset_url}}">
                            <p>4096<span>grade</span></p>
                        </div>
                        <div class="feature-text">
                            <h4>Made to Last</h4>
                            <p>Non-contact magnetic encoder provide high-grade durability and stability for rolling function</p>
                        </div>
                    </div>
                     <div class="feature-main">
                        <div class="featue-inner">
                            <img data-swift-lazy=1 loading=lazy src="{{'Battery.png' | asset_url}}">
                            <p>30<span>days</span></p>
                        </div>
                        <div class="feature-text">
                            <h4>Battery Built for Endurance</h4>
                            <p>650mAh battery supports up to 30 days OR 16 hours running hours on a single charge</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         </div>   
         </div>
    </section>

    <section class="adopt-work">
        <div class="container">
            <div class="adopt-worktext">
                <div class="row justify-content-center">
                 <div class="col-md-7">
                     <div class="adopt-text">
                         <img data-swift-lazy=1 loading=lazy src="{{'adooptimage.png' | asset_url}}">
                         <img data-swift-lazy=1 loading=lazy src="{{'meazorimg.png' | asset_url}}" class="rounded">
                         <div class="adopt-heading">
                              <h2>MEAZOR APP</h2>
                             <span class="color_14">IMPORT &nbsp;| &nbsp;DRAW &nbsp;| &nbsp;EDIT &nbsp;| &nbsp;SHARE</span>
                         </div>
                       <div class="adapt-btn">
                         <a href="https://play.google.com/store/apps/details?id=com.yufei.robbiva" class="btn-google" target="_blank">Google Play</a>
                         <a href="https://app.apple.com/us/app/meazor/id1574713401" class="btn-apple" target="_blank">App Store</a>
                       </div>
                     </div>
                 </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="adopt-main wow fadeInUp" data-wow-duration="2s">
                        <div class="adopt-text">
                            <h5>Import</h5>
                            <p>From Capture to Cadastre in a Flash </p>
                        </div>
                        <div class="adopt-image">
                            <img data-swift-lazy=1 loading=lazy src="{{'adoptimage1.png' | asset_url}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="adopt-main wow fadeInUp" data-wow-duration="2s">
                        <div class="adopt-text">
                            <h5>Draw & Edit</h5>
                            <p>Edit with Customizable Elements</p>
                        </div>
                        <div class="adopt-image">
                            <img data-swift-lazy=1 loading=lazy src="{{'adoptimage2.png' | asset_url}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="adopt-main wow fadeInUp" data-wow-duration="2s">
                        <div class="adopt-text">
                            <h5>Share</h5>
                            <p>Export with 4 types of CAD Files up to Your Choice</p>
                        </div>
                        <div class="adopt-image">
                            <img data-swift-lazy=1 loading=lazy src="{{'adoptimage3.png' | asset_url}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="adopt-main second-adopt wow fadeInUp" data-wow-duration="2s">
                        <div class="adopt-text">
                            <h5>Data List & Floor Plan Data Collection Modes</h5>
                            <p>Complement all measuring scenarios </p>
                        </div>
                        <div class="adopt-image">
                            <img data-swift-lazy=1 loading=lazy src="{{'adopimage4.png' | asset_url}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="adopt-main second-adopt wow fadeInUp" data-wow-duration="2s">
                        <div class="adopt-text">
                            <h5>Auto Dimensioning & Space Calculation</h5>
                            <p>project is just about to get much easier than ever before </p>
                        </div>
                        <div class="adopt-image">
                            <img data-swift-lazy=1 loading=lazy src="{{'adoptimage5.png' | asset_url}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="adopt-main second-adopt wow fadeInUp" data-wow-duration="2s">
                        <div class="adopt-text">
                            <h5>Multi-Languages</h5>
                            <p>supports multi-languages for better user experience</p>
                        </div>
                        <div class="adopt-image">
                            <img data-swift-lazy=1 loading=lazy src="{{'adoptimage6.png' | asset_url}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="design-section bg-gray">
        <div class="container">
            <div class="Main-heading">
               <img data-swift-lazy=1 loading=lazy src="{{'headingimg.PNG' | asset_url}}">
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="design-text proimage-content pr-0 wow fadeInLeft" data-wow-duration="2s">
                        <h2>Minimalistic Design</h2>
                        <p>Perfect aesthetically and functionally</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="design-image wow fadeInRight" data-wow-duration="2s">
                          <div class="proimage">
                        <img data-swift-lazy=1 loading=lazy src="{{'meazor-design.png' | asset_url}}">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <section class="design-section design-section1 bg-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="design-image wow fadeInLeft" data-wow-duration="2s">
                          <div class="proimage">
                        <img data-swift-lazy=1 loading=lazy src="{{'meazor-material2.png' | asset_url}}">
                    </div>
                    </div>
                </div>
              <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="design-text proimage-content pr-0 wow fadeInRight" data-wow-duration="2s">
                        <h2>Aluminum Alloy Frame</h2>
                        <p>Unparalleled strength and beauty</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="design-section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="design-text proimage-content pr-0 wow fadeInLeft" data-wow-duration="2s">
                        <h2>Standards of Excellence</h2>
                        <p>The selection of high-end materials elevates every aspect of interactiony</p>
                    </div>
                </div>
              <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="design-image wow fadeInRight" data-wow-duration="2s">
                          <div class="proimage">
                        <img data-swift-lazy=1 loading=lazy src="{{'meazor-material.png' | asset_url}}">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
         <section class="review-banner intro-banner" style="background-image: url('{{'r-banner.png' | asset_url}}');" id="compact-banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="contct-banner-content proimage-content">
                      <svg preserveAspectRatio="xMidYMid meet" data-bbox="0 0.01 1088.812 68.64" viewBox="0 0.01 1088.812 68.64" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-labelledby="svgcid--5lmjjt-mmrtsc"><title id="svgcid--5lmjjt-mmrtsc"></title>
                          <g>
                              <g>
                                  <path d="M1064.61 11.52a22.32 22.32 0 1 0 0 44.64 26.22 26.22 0 0 0 15.25-5.33 4.27 4.27 0 0 1 5.74.52l2 2.23a4.23 4.23 0 0 1-.43 6.1 37.86 37.86 0 0 1-23.23 8.57c-19.78 0-35-14.88-35-34.27 0-19.2 15.46-33.88 35.52-33.88a37.62 37.62 0 0 1 22.79 8 4.24 4.24 0 0 1 .63 5.94l-2.1 2.63a4.22 4.22 0 0 1-6 .68 24.4 24.4 0 0 0-15.17-5.83z" fill="#dcdddd"></path>
                                  <path d="M998.47 4.83v58.69a4.25 4.25 0 0 1-4.25 4.25h-4.36a4.25 4.25 0 0 1-4.25-4.25V4.83a4.25 4.25 0 0 1 4.25-4.25h4.36a4.25 4.25 0 0 1 4.25 4.25z" fill="#dcdddd"></path>
                                  <path d="M596.89 4.9v3a4.23 4.23 0 0 1-4.23 4.24h-12.52a4.24 4.24 0 0 0-4.24 4.24v47.46a4.24 4.24 0 0 1-4.24 4.24h-4.52a4.24 4.24 0 0 1-4.24-4.24V16.36a4.24 4.24 0 0 0-4.24-4.24h-12.52a4.24 4.24 0 0 1-4.24-4.24v-3a4.24 4.24 0 0 1 4.24-4.22h46.52a4.23 4.23 0 0 1 4.23 4.24z" fill="#dcdddd"></path>
                                  <path d="M494.16 11.74a22.39 22.39 0 1 0 0 44.78 26.36 26.36 0 0 0 15.35-5.38 4.24 4.24 0 0 1 5.7.55l2 2.26a4.24 4.24 0 0 1-.48 6.13 38 38 0 0 1-23.27 8.57c-19.84 0-35.16-14.92-35.16-34.38 0-19.26 15.51-34 35.64-34a37.73 37.73 0 0 1 22.82 8 4.23 4.23 0 0 1 .68 6l-2.08 2.61a4.29 4.29 0 0 1-6.05.71 24.37 24.37 0 0 0-15.15-5.85z" fill="#fff"></path>
                                  <path d="M835 11.74a22.39 22.39 0 1 0 0 44.78 26.39 26.39 0 0 0 15.35-5.38 4.24 4.24 0 0 1 5.7.55l2 2.26a4.23 4.23 0 0 1-.49 6.13 38 38 0 0 1-23.27 8.57c-19.84 0-35.15-14.92-35.15-34.38 0-19.26 15.51-34 35.63-34a37.74 37.74 0 0 1 22.83 8 4.24 4.24 0 0 1 .68 6l-2.08 2.61a4.29 4.29 0 0 1-6 .71 24.42 24.42 0 0 0-15.2-5.85z" fill="#fff"></path>
                                  <path d="M35.83 11.74a22.39 22.39 0 1 0 0 44.78 26.33 26.33 0 0 0 15.34-5.38 4.26 4.26 0 0 1 5.71.55l2 2.26a4.24 4.24 0 0 1-.49 6.13 38 38 0 0 1-23.27 8.57C15.31 68.65 0 53.73 0 34.27 0 15 15.51.28 35.63.28a37.74 37.74 0 0 1 22.83 8 4.24 4.24 0 0 1 .68 6l-2.08 2.61a4.29 4.29 0 0 1-6.05.71 24.42 24.42 0 0 0-15.18-5.86z" fill="#fff"></path>
                                  <path d="M203.51 4l17.43 35.57a2.38 2.38 0 0 0 4.28 0L242.56 4a5.89 5.89 0 0 1 5.29-3.3h5.27A5.88 5.88 0 0 1 259 6.54v59a2.51 2.51 0 0 1-2.51 2.52h-6.73a2.52 2.52 0 0 1-2.51-2.51l-.08-38.24a1.7 1.7 0 0 0-3.24-.74l-15.1 31.23a5.88 5.88 0 0 1-5.3 3.32h-1a5.88 5.88 0 0 1-5.29-3.32l-15.09-31.17a1.7 1.7 0 0 0-3.24.74v38.19a2.52 2.52 0 0 1-2.51 2.52h-6.92a2.51 2.51 0 0 1-2.48-2.52v-59a5.88 5.88 0 0 1 5.85-5.9h5.38A5.89 5.89 0 0 1 203.51 4z" fill="#fff"></path>
                                  <path d="M156.55 34.37c0 19.29-15.55 34.17-35.8 34.17S84.94 53.66 84.94 34.37s15.55-34 35.81-34 35.8 14.7 35.8 34zm-58.46 0A22.79 22.79 0 0 0 120.94 57a22.56 22.56 0 1 0-22.85-22.63z" fill="#dcdddd"></path>
                                  <path d="M903.43 40.7v23a4.25 4.25 0 0 1-4.25 4.3h-4.36a4.25 4.25 0 0 1-4.25-4.26V5a4.25 4.25 0 0 1 4.25-4.23h4.36A4.25 4.25 0 0 1 903.43 5v24.47m10.85 0h18.4a4.25 4.25 0 0 0 4.25-4.25V5a4.25 4.25 0 0 1 4.25-4.23h4.36A4.25 4.25 0 0 1 949.79 5v58.71a4.25 4.25 0 0 1-4.25 4.29h-4.36a4.25 4.25 0 0 1-4.25-4.26V45a4.25 4.25 0 0 0-4.25-4.26h-18.4a4.25 4.25 0 0 1-4.28-4.29v-2.72a4.25 4.25 0 0 1 4.28-4.26z" fill="#fff"></path>
                                  <path d="M314.54 41.12a4.25 4.25 0 0 1 4.25-4.26h2.79c9.59 0 15.07-4.12 15.07-12.57 0-8.29-5.48-12.29-15.07-12.29h-9.77a4.25 4.25 0 0 0-4.25 4.25v47.46a4.25 4.25 0 0 1-4.25 4.29H299a4.25 4.25 0 0 1-4.25-4.26V5A4.25 4.25 0 0 1 299 .77h23.3c16.89 0 26.59 8.35 26.59 23.14 0 15.35-9.7 24.28-26.59 24.28h-3.46a4.25 4.25 0 0 1-4.25-4.25z" fill="#fff"></path>
                                  <path d="M375.12 68.17a6.1 6.1 0 0 1-5.58-8.55l24.21-55.21a6.11 6.11 0 0 1 5.59-3.65h5.4a6.08 6.08 0 0 1 5.59 3.67l23.9 55.22a6.09 6.09 0 0 1-5.59 8.52h-.52a6.11 6.11 0 0 1-5.63-3.75l-16.65-40a4.49 4.49 0 0 0-8.29 0l-16.81 40a6.09 6.09 0 0 1-5.62 3.75z" fill="#dcdddd"></path>
                                  <path d="M705.22 58.56a4.23 4.23 0 0 1-1.09 6.58 27 27 0 0 1-12.69 3.21c-12.19 0-21.6-8-21.6-19.1 0-9.32 6.72-14.4 14.21-18.44l8.25-4.32c6.15-3.16 11.14-6.52 11.14-12 0-4-3-6.82-7.49-6.82-5 0-8.16 3.36-8.16 7.78a13.1 13.1 0 0 0 .94 4.7 4.24 4.24 0 0 1-2.07 5.35l-1 .49a4.26 4.26 0 0 1-5.75-2 19.88 19.88 0 0 1-2-8.52c0-9.22 7-15.46 18-15.46 10.36 0 17.56 6 17.56 14.5 0 9.21-8 14.11-16.12 18.23l-8.16 4.32c-5.09 3-8.93 6.34-8.93 11.24 0 6.33 5.09 10.65 11.71 10.65a16.24 16.24 0 0 0 7.49-1.95 4.27 4.27 0 0 1 5.16.88zm-.53-5.28c-3.62-3.56-6.81-6.79-9.62-9.75a4.25 4.25 0 0 1 .95-6.62l.41-.24a4.27 4.27 0 0 1 5.22.77c2.55 2.68 5.44 5.63 8.7 8.83l7 6.81 7.65 7.39a4.25 4.25 0 0 1 .06 6l-.44.44a4.24 4.24 0 0 1-6 0l-7.14-7.08zm8.81-12.71c.16-.34.31-.68.47-1a4.24 4.24 0 0 1 6.4-1.68l1 .76a4.23 4.23 0 0 1 1.37 5.13c-.22.47-.43.93-.65 1.38a4.26 4.26 0 0 1-6.77 1.24l-1-.9a4.25 4.25 0 0 1-.82-4.93z" fill="#fff"></path>
                              </g>
                          </g>
                      </svg>
<!--                         <h2>COMPACT AND CHIC</h2> -->
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <section class="intro-video">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                      <div class="introducing-video" style="height:100%">
         <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img data-swift-lazy=1 loading=lazy class="d-block w-100" src="{{'compactimg1.png' | asset_url}}"
                    alt="First slide">
                </div>
                <div class="carousel-item">
                    <img data-swift-lazy=1 loading=lazy class="d-block w-100" src="{{'compactimg2.png' | asset_url}}"
                    alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img data-swift-lazy=1 loading=lazy class="d-block w-100" src="{{'compactimg3.png' | asset_url}}"
                    alt="Third slide">
                </div>
            </div>
        </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section class="chart-section">
        <div class="container">
            <div class="Main-heading">
              
              <svg preserveAspectRatio="xMidYMid meet" data-bbox="0 0 838.42 68.57" viewBox="0 0 838.42 68.57" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-labelledby="svgcid--3k64dw-ku9mh0"><title id="svgcid--3k64dw-ku9mh0"></title>
                  <g>
                      <g>
                          <path d="M747.5 34c0 19.29-15.55 34.17-35.8 34.17S675.89 53.32 675.89 34 691.44 0 711.7 0s35.8 14.73 35.8 34zM689 34a22.8 22.8 0 0 0 22.85 22.65A22.56 22.56 0 1 0 689 34z" fill="#2f3030" data-color="1"></path>
                          <path d="M35.83 11.6a22.39 22.39 0 1 0 0 44.78A26.32 26.32 0 0 0 51.17 51a4.24 4.24 0 0 1 5.71.55l2 2.26a4.24 4.24 0 0 1-.46 6.19 38 38 0 0 1-23.27 8.57C15.31 68.52 0 53.59 0 34.14c0-19.26 15.51-34 35.63-34a37.75 37.75 0 0 1 22.83 8 4.23 4.23 0 0 1 .68 6l-2.08 2.62a4.28 4.28 0 0 1-6.05.7 24.48 24.48 0 0 0-15.18-5.86z" fill="#2f3030" data-color="1"></path>
                          <path d="m203.51 3.82 17.43 35.57a2.38 2.38 0 0 0 4.28 0l17.34-35.56a5.89 5.89 0 0 1 5.29-3.3h5.27A5.88 5.88 0 0 1 259 6.41v59a2.51 2.51 0 0 1-2.51 2.51h-6.73a2.51 2.51 0 0 1-2.51-2.51l-.08-38.23a1.7 1.7 0 0 0-3.24-.74l-15.1 31.23a5.88 5.88 0 0 1-5.3 3.32h-1a5.88 5.88 0 0 1-5.29-3.32l-15.09-31.2a1.7 1.7 0 0 0-3.24.74v38.2a2.51 2.51 0 0 1-2.51 2.51h-6.92a2.51 2.51 0 0 1-2.48-2.49v-59a5.88 5.88 0 0 1 5.85-5.9h5.38a5.89 5.89 0 0 1 5.28 3.29z" fill="#2f3030" data-color="1"></path>
                          <path d="M156.55 34.23c0 19.3-15.55 34.18-35.8 34.18S84.94 53.53 84.94 34.23s15.55-34 35.81-34 35.8 14.71 35.8 34zm-58.46 0a22.8 22.8 0 0 0 22.85 22.66 22.56 22.56 0 1 0-22.85-22.66z" fill="#2f3030" data-color="1"></path>
                          <path d="M314.54 41a4.25 4.25 0 0 1 4.25-4.25h2.79c9.59 0 15.07-4.13 15.07-12.57 0-8.26-5.48-12.29-15.07-12.29h-9.77a4.25 4.25 0 0 0-4.25 4.25v47.44a4.25 4.25 0 0 1-4.25 4.25H299a4.25 4.25 0 0 1-4.25-4.25V4.89A4.25 4.25 0 0 1 299 .64h23.3c16.89 0 26.59 8.35 26.59 23.13 0 15.36-9.7 24.29-26.59 24.29h-3.46a4.25 4.25 0 0 1-4.25-4.25z" fill="#2f3030" data-color="1"></path>
                          <path d="M374.62 67.94a6.1 6.1 0 0 1-5.62-8.55l24.26-55.21a6.09 6.09 0 0 1 5.58-3.65h5.4a6.08 6.08 0 0 1 5.59 3.67l23.91 55.22a6.1 6.1 0 0 1-5.6 8.52h-.52a6.11 6.11 0 0 1-5.62-3.75l-16.65-40a4.49 4.49 0 0 0-8.29 0l-16.8 40a6.1 6.1 0 0 1-5.64 3.75z" fill="#2f3030" data-color="1"></path>
                          <path d="M566.28 4.78v58.69a4.25 4.25 0 0 1-4.28 4.25h-4.36a4.25 4.25 0 0 1-4.25-4.25V4.78a4.25 4.25 0 0 1 4.28-4.25H562a4.25 4.25 0 0 1 4.28 4.25z" fill="#2f3030" data-color="1"></path>
                          <path d="M492.35 36.83c9.63 0 15-4.14 15-12.61 0-8.28-5.39-12.33-15-12.33h-12.76a2.46 2.46 0 0 0-2.46 2.45v51.25a2.45 2.45 0 0 1-2.45 2.41h-8a2.45 2.45 0 0 1-2.45-2.45V3.07a2.45 2.45 0 0 1 2.45-2.45h25.67C509.78.62 519.7 9 519.7 23.83c0 9.57-3.85 16.7-11 20.69a2.45 2.45 0 0 0-.87 3.5l10.76 16.21a2.45 2.45 0 0 1-2 3.81h-8.77a2.46 2.46 0 0 1-2.11-1.21l-15.45-26.3a2.46 2.46 0 0 1 2.1-3.7z" fill="#2f3030" data-color="1"></path>
                          <path d="M624.09 11.71c-6.05 0-10 2.21-10 6.34 0 13.63 36.1 6.24 36 30.33 0 12.58-10.94 19.87-25.72 19.87a43.83 43.83 0 0 1-25.62-8.48 4.27 4.27 0 0 1-1.29-5.32l1.54-3.12a4.23 4.23 0 0 1 6.19-1.63c6.22 4.31 13.44 6.84 19.36 6.84 7.2 0 11.52-2.69 11.52-7.39 0-14-36.1-6-36.1-29.95C600 7.49 610.07 0 625.14 0a46.38 46.38 0 0 1 20.78 5.06 4.24 4.24 0 0 1 1.87 5.56l-1.64 3.53a4.26 4.26 0 0 1-5.72 2c-6.02-2.94-12.06-4.44-16.34-4.44z" fill="#2f3030" data-color="1"></path>
                          <path d="m813.05 51.2-14.52-19.28a4.24 4.24 0 0 0-7.63 2.55v29.12a4.24 4.24 0 0 1-4.24 4.24h-4.14a4.24 4.24 0 0 1-4.24-4.24V4.66a4.24 4.24 0 0 1 4.24-4.24h5.88a4.21 4.21 0 0 1 3.38 1.69l28.07 37.23a4.25 4.25 0 0 1 .86 2.57v6.76a4.24 4.24 0 0 1-7.66 2.53z" fill="#2f3030" data-color="1"></path>
                          <path d="M838.42 4.66v58.93a4.24 4.24 0 0 1-4.24 4.24h-4.42a4.24 4.24 0 0 1-4.24-4.24V4.66a4.24 4.24 0 0 1 4.24-4.24h4.42a4.24 4.24 0 0 1 4.24 4.24z" fill="#2f3030" data-color="1"></path>
                      </g>
                  </g>
              </svg>
              &nbsp;&nbsp;&nbsp;
              <svg preserveAspectRatio="xMidYMid meet" data-bbox="0 0 413.51 68.38" viewBox="0 0 413.51 68.38" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-labelledby="svgcid--yt8sn7-uqxsm4"><title id="svgcid--yt8sn7-uqxsm4"></title>
                  <g>
                      <g>
                          <path d="M413.51 4.52v3a4.24 4.24 0 0 1-4.24 4.24h-12.52a4.24 4.24 0 0 0-4.24 4.24v47.45a4.24 4.24 0 0 1-4.24 4.24h-4.52a4.24 4.24 0 0 1-4.24-4.24V16a4.24 4.24 0 0 0-4.24-4.24h-12.52a4.23 4.23 0 0 1-4.23-4.24v-3a4.23 4.23 0 0 1 4.23-4.24h46.52a4.24 4.24 0 0 1 4.24 4.24z" fill="#2f3030" data-color="1"></path>
                          <path d="M35.83 11.46a22.39 22.39 0 1 0 0 44.78 26.26 26.26 0 0 0 15.34-5.38 4.27 4.27 0 0 1 5.71.55l2 2.27a4.24 4.24 0 0 1-.49 6.13 38 38 0 0 1-23.27 8.57C15.31 68.38 0 53.45 0 34 0 14.73 15.51 0 35.63 0a37.8 37.8 0 0 1 22.83 8 4.25 4.25 0 0 1 .68 6l-2.08 2.62a4.28 4.28 0 0 1-6.05.7 24.48 24.48 0 0 0-15.18-5.86z" fill="#2f3030" data-color="1"></path>
                          <path d="M104.25 40.43v23a4.25 4.25 0 0 1-4.25 4.26h-4.36a4.25 4.25 0 0 1-4.26-4.25V4.75A4.26 4.26 0 0 1 95.64.49H100a4.26 4.26 0 0 1 4.25 4.26V29.2m10.85 0h18.4a4.25 4.25 0 0 0 4.25-4.26V4.75A4.25 4.25 0 0 1 142 .49h4.36a4.25 4.25 0 0 1 4.25 4.26v58.69a4.25 4.25 0 0 1-4.25 4.25H142a4.25 4.25 0 0 1-4.25-4.25V44.68a4.25 4.25 0 0 0-4.25-4.25h-18.4a4.25 4.25 0 0 1-4.25-4.25v-2.73a4.25 4.25 0 0 1 4.25-4.25z" fill="#2f3030" data-color="1"></path>
                          <path d="M187.45 67.8a6.1 6.1 0 0 1-5.58-8.55L206.08 4a6.12 6.12 0 0 1 5.59-3.61h5.4a6.08 6.08 0 0 1 5.59 3.67l23.9 55.22A6.1 6.1 0 0 1 241 67.8h-.52a6.11 6.11 0 0 1-5.63-3.75l-16.65-40a4.49 4.49 0 0 0-8.29 0l-16.81 40a6.08 6.08 0 0 1-5.65 3.75z" fill="#2f3030" data-color="1"></path>
                          <path d="M305.18 36.69c9.63 0 15-4.14 15-12.61 0-8.29-5.39-12.33-15-12.33h-12.77A2.45 2.45 0 0 0 290 14.2v51.24a2.45 2.45 0 0 1-2.45 2.46h-8a2.45 2.45 0 0 1-2.45-2.46V2.93a2.45 2.45 0 0 1 2.41-2.45h25.67c17.43 0 27.35 8.38 27.35 23.21 0 9.57-3.85 16.7-11 20.69a2.45 2.45 0 0 0-.86 3.5l10.76 16.21a2.45 2.45 0 0 1-2 3.81h-8.77a2.44 2.44 0 0 1-2.11-1.21l-15.47-26.31a2.45 2.45 0 0 1 2.1-3.69z" fill="#2f3030" data-color="1"></path>
                      </g>
                  </g>
              </svg>
<!--               <h2>COMPARISON CHART</h2> -->
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="chart-main">
                        <img data-swift-lazy=1 loading=lazy src="{{'MEAZOR___6-in-1_1.png' | asset_url}}}}" >
                    </div>
                </div>
            </div>
        </div>
    </section>
   
  
   
   {% section 'meazore-accessories-products' %}
     {% section 'alireviews-widget-541709' %}
<div class="divider-section" syle="margin-bottom:10px">
{% section 'social-4-items' %}
{% comment %}
<section class="fixed-cart measor-fix" id="fix-cart">
    <div class="container">
      <div class="fixed-cart-close">
        <button onclick="closed()"><i class="fa fa-times"></i></button>
      </div>
        <div class="fixed-outer">
        <div class="row justify-content-center">
            <div class="col-md-3 col-2">
                <div class="fixed-cart-img">
                    <img data-swift-lazy=1 loading=lazy src="{{product.featured_image | img_url : 'master'}}">
                </div>
            </div>
            <div class="col-md-5 col-7">
                <div class="fixed-text">
                    {{ product.metafields.global.quickcart.value }}
                  
                </div>
            </div>
            <div class="col-md-3 col-3">
                <div class="fixed-shop">
                     <form >
                      <input type="hidden" id="shopPrId" name="id" value="{{ product.variants.first.id }}" />
                      
                        <button type="button" class="mx2form designer-btn designer-btn2"  onclick="submitForms()">Shop Now</button>

                      </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endcomment %}





<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };

  if(sessionStorage.backToCollection) {
    theme.backToCollection = {};
    theme.backToCollection.collection = JSON.parse(sessionStorage.backToCollection);
    var productCollections = {{ product.collections | json }};
    var showCollection = false;
    if (productCollections) {
      productCollections.forEach(function(collection) {
        if (collection.title === theme.backToCollection.collection.title) {
          showCollection = true;
        }
      });
    }
    if(showCollection) {
      var backToCollectionHTML = '<div class="text-center return-link-wrapper page-width"><a href="' + theme.backToCollection.collection.link + '" class="btn btn--secondary btn--has-icon-before">{% include 'icon-arrow-left' %}{{ 'products.product.back_to_collection' | t }} ' + theme.backToCollection.collection.title + '</a></div>';
      var backToCollectionContainer = document.getElementById('backToCollection');
      backToCollectionContainer.insertAdjacentHTML('afterbegin', backToCollectionHTML);
    }
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
